/* base */
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1; }

ol, ul { margin: 0; padding: 0; list-style: none; }

li { margin: 0; padding: 0; }

img { border: 0; }

button, input, optgroup, select, textarea { font-family: inherit; }

/* button,html input[type=button],input[type=reset],input[type=submit] { -webkit-appearance: button; cursor: pointer;
} */
fieldset { margin: 0; padding: 0; border: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* td,th { padding: 0
} */
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 18px; color: #222; font-weight: 500; line-height: 1; }

h1, .h1 { font-size: 48px; }

h2, .h2 { margin-top: 36px; font-size: 36px; font-weight: 300; }

h3, .h3 { font-size: 20px; }

h4, .h4 { font-size: 16px; }

h5, .h5 { font-size: 13.6px; }

h6, .h6 { font-size: 12px; }

.blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }

/* grid */
.row { overflow: hidden; clear: both; box-sizing: border-box; }
.row .col { float: left; box-sizing: border-box; }
.row .col.s1 { width: 8.33333%; }
.row .col.s2 { width: 16.66667%; }
.row .col.s3 { width: 25%; }
.row .col.s4 { width: 33.33333%; }
.row .col.s5 { width: 41.66667%; }
.row .col.s6 { width: 50%; }
.row .col.s7 { width: 58.33333%; }
.row .col.s8 { width: 66.66667%; }
.row .col.s9 { width: 75%; }
.row .col.s10 { width: 83.33333%; }
.row .col.s11 { width: 91.66667%; }
.row .col.s12 { width: 100%; }
@media only screen and (min-width: 601px) { .row .col.m1 { width: 8.33333%; }
  .row .col.m2 { width: 16.66667%; }
  .row .col.m3 { width: 25%; }
  .row .col.m4 { width: 33.33333%; }
  .row .col.m5 { width: 41.66667%; }
  .row .col.m6 { width: 50%; }
  .row .col.m7 { width: 58.33333%; }
  .row .col.m8 { width: 66.66667%; }
  .row .col.m9 { width: 75%; }
  .row .col.m10 { width: 83.33333%; }
  .row .col.m11 { width: 91.66667%; }
  .row .col.m12 { width: 100%; } }
@media only screen and (min-width: 993px) { .row .col.l1 { width: 8.33333%; }
  .row .col.l2 { width: 16.66667%; }
  .row .col.l3 { width: 25%; }
  .row .col.l4 { width: 33.33333%; }
  .row .col.l5 { width: 41.66667%; }
  .row .col.l6 { width: 50%; }
  .row .col.l7 { width: 58.33333%; }
  .row .col.l8 { width: 66.66667%; }
  .row .col.l9 { width: 75%; }
  .row .col.l10 { width: 83.33333%; }
  .row .col.l11 { width: 91.66667%; }
  .row .col.l12 { width: 100%; } }

/* ico */
@-webkit-keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.ico { display: inline-block; }
.ico:not(button) { pointer-events: none; }

.ico-arr-prev, .ico-arr-next { width: 10px; height: 10px; background-color: green; }

.ico-loading:after { width: 14px; height: 14px; -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ border-style: solid; border-width: 2px; border-color: #b1b1b1 #f3f3f3 #f3f3f3; -webkit-animation: button-spin .6s linear; animation: button-spin .6s linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.ico-srch:after { width: 10px; height: 10px; background-color: gray; }

/* button */
.btn { display: inline-block; border: 1px solid transparent; background: none; text-align: center; vertical-align: middle; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; }
.btn[disabled], .btn.btn--disabled { opacity: .4; pointer-events: none; }

a.btn { text-decoration: none; }

.btn--default { background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0); border-color: #ccc #bdbdbd #adadad; color: #333; text-shadow: 0 1px 0 white; }
.btn--default:hover { background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%); background-image: -o-linear-gradient(top, #fff 0%, #eee 100%); background-image: linear-gradient(to bottom, #fff 0%, #eee 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0); border-color: #bfbfbf #bfbfbf #b3b3b3; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
.btn--default:focus { position: relative; z-index: 1; border-color: #1385e5; box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1); outline: none; }
.btn--default:active, .btn--default.is--active { position: relative; z-index: 1; border-color: #1385e5; box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1); outline: none; }
.btn--default.is--active:focus:not(:active) { border-color: #1385e5; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(19, 133, 229, 0.1); }
.btn--default[aria-pressed="true"] { border-color: green; color: green; }

.btn--plain { border: none; }

.btn[disabled], .btn--disabled { pointer-events: none; background-color: #f3f3f3; /*  background-color: #ebebeb; color : #aaa; */ }

.btn__txt { overflow: hidden; display: inline-block; text-overflow: ellipsis; vertical-align: top; }

.btn--xs { font-size: 11.2px; line-height: 21.28px; padding: 0 11.2px; }

.btn--s { font-size: 12.6px; line-height: 28.98px; padding: 0 12.6px; }

.btn--m { font-size: 14px; line-height: 2.3em; padding: 0 14px; }

.btn--l { font-size: 17.5px; line-height: 40.25px; padding: 0 17.5px; }

input[data-role="button"] { position: absolute; left: -1000em; }

input[data-role="button"]:hover + .btn { background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%); background-image: -o-linear-gradient(top, #fff 0%, #eee 100%); background-image: linear-gradient(to bottom, #fff 0%, #eee 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0); border-color: #bfbfbf #bfbfbf #b3b3b3; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

input[data-role="button"]:focus + .btn { position: relative; z-index: 1; border-color: #1385e5; box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1); outline: none; }

input[data-role="button"]:checked + .btn { border-color: green; color: green; }

.btn__ico-left { margin-right: 3px; }

.btn__ico-right { margin-left: 3px; }

.btns--left { float: left; }

.btns--right { float: right; }

.btns--center { text-align: center; }

.btn-group { overflow: hidden; }
.btn-group .btn--default { float: left; margin-right: -1px; }

.btn-group--justify { display: table; width: 100%; table-layout: fixed; border-collapse: seperate; }
.btn-group--justify .btn { display: table-cell; float: none; width: 1%; }

/* ex */
.wrap.ex { padding: 10px 20px; color: #333; }

.ex__txt { margin-bottom: 16px; font-size: 12px; }

.block--box { margin-top: 10px; margin-bottom: 10px; margin-right: 10px; padding: 20px; border: solid 1px #ccc; -webkit-border-radius: 4.2px; -moz-border-radius: 4.2px; border-radius: 4.2px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

/*# sourceMappingURL=ex-button-ie.css.map */
