/* base */
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1; }

ol, ul { margin: 0; padding: 0; list-style: none; }

li { margin: 0; padding: 0; }

img { border: 0; }

button, input, select, textarea { font-family: inherit; margin: 0; }

input[type="checkbox"], input[type="radio"] { vertical-align: middle; }

fieldset { margin: 0; padding: 0; border: none; }

table { border-collapse: collapse; border-spacing: 0; }

.h1, .h2, .h3, .h4, .h5, .h6 { margin-top: 2em; margin-bottom: 1em; color: #222; font-weight: 500; line-height: 1; }
.h1 { margin-top: 0; font-size: 2.625rem; }
.h2 { font-size: 1.5rem; }
.h3 { font-size: 1.09375rem; }
.h4 { font-size: 0.875rem; }
.h5 { font-size: 0.75rem; }
.h6 { font-size: 0.6875rem; }

.blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }

/* grid */
.row { overflow: hidden; clear: both; box-sizing: border-box; }
.row .col { float: left; box-sizing: border-box; }
.row .col[class*="push-"], .row .col[class*="pull-"] { position: relative; }
.row .col.s1 { width: 8.33333%; }
.row .col.s1:after { content: ''; display: block; clear: both; }
.row .col.s2 { width: 16.66667%; }
.row .col.s2:after { content: ''; display: block; clear: both; }
.row .col.s3 { width: 25%; }
.row .col.s3:after { content: ''; display: block; clear: both; }
.row .col.s4 { width: 33.33333%; }
.row .col.s4:after { content: ''; display: block; clear: both; }
.row .col.s5 { width: 41.66667%; }
.row .col.s5:after { content: ''; display: block; clear: both; }
.row .col.s6 { width: 50%; }
.row .col.s6:after { content: ''; display: block; clear: both; }
.row .col.s7 { width: 58.33333%; }
.row .col.s7:after { content: ''; display: block; clear: both; }
.row .col.s8 { width: 66.66667%; }
.row .col.s8:after { content: ''; display: block; clear: both; }
.row .col.s9 { width: 75%; }
.row .col.s9:after { content: ''; display: block; clear: both; }
.row .col.s10 { width: 83.33333%; }
.row .col.s10:after { content: ''; display: block; clear: both; }
.row .col.s11 { width: 91.66667%; }
.row .col.s11:after { content: ''; display: block; clear: both; }
.row .col.s12 { width: 100%; }
.row .col.s12:after { content: ''; display: block; clear: both; }
.row .col.offset-s1 { margin-left: 8.33333%; }
.row .col.offset-s2 { margin-left: 16.66667%; }
.row .col.offset-s3 { margin-left: 25%; }
.row .col.offset-s4 { margin-left: 33.33333%; }
.row .col.offset-s5 { margin-left: 41.66667%; }
.row .col.offset-s6 { margin-left: 50%; }
.row .col.offset-s7 { margin-left: 58.33333%; }
.row .col.offset-s8 { margin-left: 66.66667%; }
.row .col.offset-s9 { margin-left: 75%; }
.row .col.offset-s10 { margin-left: 83.33333%; }
.row .col.offset-s11 { margin-left: 91.66667%; }
.row .col.offset-s12 { margin-left: 100%; }
.row .col.push-s1 { left: 8.33333%; }
.row .col.push-s2 { left: 16.66667%; }
.row .col.push-s3 { left: 25%; }
.row .col.push-s4 { left: 33.33333%; }
.row .col.push-s5 { left: 41.66667%; }
.row .col.push-s6 { left: 50%; }
.row .col.push-s7 { left: 58.33333%; }
.row .col.push-s8 { left: 66.66667%; }
.row .col.push-s9 { left: 75%; }
.row .col.push-s10 { left: 83.33333%; }
.row .col.push-s11 { left: 91.66667%; }
.row .col.push-s12 { left: 100%; }
.row .col.pull-s1 { right: 8.33333%; }
.row .col.pull-s2 { right: 16.66667%; }
.row .col.pull-s3 { right: 25%; }
.row .col.pull-s4 { right: 33.33333%; }
.row .col.pull-s5 { right: 41.66667%; }
.row .col.pull-s6 { right: 50%; }
.row .col.pull-s7 { right: 58.33333%; }
.row .col.pull-s8 { right: 66.66667%; }
.row .col.pull-s9 { right: 75%; }
.row .col.pull-s10 { right: 83.33333%; }
.row .col.pull-s11 { right: 91.66667%; }
.row .col.pull-s12 { right: 100%; }
@media only screen and (min-width: 601px) { .row .col.m1 { width: 8.33333%; }
  .row .col.m1:after { content: ''; display: block; clear: both; }
  .row .col.m2 { width: 16.66667%; }
  .row .col.m2:after { content: ''; display: block; clear: both; }
  .row .col.m3 { width: 25%; }
  .row .col.m3:after { content: ''; display: block; clear: both; }
  .row .col.m4 { width: 33.33333%; }
  .row .col.m4:after { content: ''; display: block; clear: both; }
  .row .col.m5 { width: 41.66667%; }
  .row .col.m5:after { content: ''; display: block; clear: both; }
  .row .col.m6 { width: 50%; }
  .row .col.m6:after { content: ''; display: block; clear: both; }
  .row .col.m7 { width: 58.33333%; }
  .row .col.m7:after { content: ''; display: block; clear: both; }
  .row .col.m8 { width: 66.66667%; }
  .row .col.m8:after { content: ''; display: block; clear: both; }
  .row .col.m9 { width: 75%; }
  .row .col.m9:after { content: ''; display: block; clear: both; }
  .row .col.m10 { width: 83.33333%; }
  .row .col.m10:after { content: ''; display: block; clear: both; }
  .row .col.m11 { width: 91.66667%; }
  .row .col.m11:after { content: ''; display: block; clear: both; }
  .row .col.m12 { width: 100%; }
  .row .col.m12:after { content: ''; display: block; clear: both; }
  .row .col.offset-m1 { margin-left: 8.33333%; }
  .row .col.offset-m2 { margin-left: 16.66667%; }
  .row .col.offset-m3 { margin-left: 25%; }
  .row .col.offset-m4 { margin-left: 33.33333%; }
  .row .col.offset-m5 { margin-left: 41.66667%; }
  .row .col.offset-m6 { margin-left: 50%; }
  .row .col.offset-m7 { margin-left: 58.33333%; }
  .row .col.offset-m8 { margin-left: 66.66667%; }
  .row .col.offset-m9 { margin-left: 75%; }
  .row .col.offset-m10 { margin-left: 83.33333%; }
  .row .col.offset-m11 { margin-left: 91.66667%; }
  .row .col.offset-m12 { margin-left: 100%; }
  .row .col.push-m1 { left: 8.33333%; }
  .row .col.push-m2 { left: 16.66667%; }
  .row .col.push-m3 { left: 25%; }
  .row .col.push-m4 { left: 33.33333%; }
  .row .col.push-m5 { left: 41.66667%; }
  .row .col.push-m6 { left: 50%; }
  .row .col.push-m7 { left: 58.33333%; }
  .row .col.push-m8 { left: 66.66667%; }
  .row .col.push-m9 { left: 75%; }
  .row .col.push-m10 { left: 83.33333%; }
  .row .col.push-m11 { left: 91.66667%; }
  .row .col.push-m12 { left: 100%; }
  .row .col.pull-m1 { right: 8.33333%; }
  .row .col.pull-m2 { right: 16.66667%; }
  .row .col.pull-m3 { right: 25%; }
  .row .col.pull-m4 { right: 33.33333%; }
  .row .col.pull-m5 { right: 41.66667%; }
  .row .col.pull-m6 { right: 50%; }
  .row .col.pull-m7 { right: 58.33333%; }
  .row .col.pull-m8 { right: 66.66667%; }
  .row .col.pull-m9 { right: 75%; }
  .row .col.pull-m10 { right: 83.33333%; }
  .row .col.pull-m11 { right: 91.66667%; }
  .row .col.pull-m12 { right: 100%; } }
@media only screen and (min-width: 993px) { .row .col.l1 { width: 8.33333%; }
  .row .col.l1:after { content: ''; display: block; clear: both; }
  .row .col.l2 { width: 16.66667%; }
  .row .col.l2:after { content: ''; display: block; clear: both; }
  .row .col.l3 { width: 25%; }
  .row .col.l3:after { content: ''; display: block; clear: both; }
  .row .col.l4 { width: 33.33333%; }
  .row .col.l4:after { content: ''; display: block; clear: both; }
  .row .col.l5 { width: 41.66667%; }
  .row .col.l5:after { content: ''; display: block; clear: both; }
  .row .col.l6 { width: 50%; }
  .row .col.l6:after { content: ''; display: block; clear: both; }
  .row .col.l7 { width: 58.33333%; }
  .row .col.l7:after { content: ''; display: block; clear: both; }
  .row .col.l8 { width: 66.66667%; }
  .row .col.l8:after { content: ''; display: block; clear: both; }
  .row .col.l9 { width: 75%; }
  .row .col.l9:after { content: ''; display: block; clear: both; }
  .row .col.l10 { width: 83.33333%; }
  .row .col.l10:after { content: ''; display: block; clear: both; }
  .row .col.l11 { width: 91.66667%; }
  .row .col.l11:after { content: ''; display: block; clear: both; }
  .row .col.l12 { width: 100%; }
  .row .col.l12:after { content: ''; display: block; clear: both; }
  .row .col.offset-l1 { margin-left: 8.33333%; }
  .row .col.offset-l2 { margin-left: 16.66667%; }
  .row .col.offset-l3 { margin-left: 25%; }
  .row .col.offset-l4 { margin-left: 33.33333%; }
  .row .col.offset-l5 { margin-left: 41.66667%; }
  .row .col.offset-l6 { margin-left: 50%; }
  .row .col.offset-l7 { margin-left: 58.33333%; }
  .row .col.offset-l8 { margin-left: 66.66667%; }
  .row .col.offset-l9 { margin-left: 75%; }
  .row .col.offset-l10 { margin-left: 83.33333%; }
  .row .col.offset-l11 { margin-left: 91.66667%; }
  .row .col.offset-l12 { margin-left: 100%; }
  .row .col.push-l1 { left: 8.33333%; }
  .row .col.push-l2 { left: 16.66667%; }
  .row .col.push-l3 { left: 25%; }
  .row .col.push-l4 { left: 33.33333%; }
  .row .col.push-l5 { left: 41.66667%; }
  .row .col.push-l6 { left: 50%; }
  .row .col.push-l7 { left: 58.33333%; }
  .row .col.push-l8 { left: 66.66667%; }
  .row .col.push-l9 { left: 75%; }
  .row .col.push-l10 { left: 83.33333%; }
  .row .col.push-l11 { left: 91.66667%; }
  .row .col.push-l12 { left: 100%; }
  .row .col.pull-l1 { right: 8.33333%; }
  .row .col.pull-l2 { right: 16.66667%; }
  .row .col.pull-l3 { right: 25%; }
  .row .col.pull-l4 { right: 33.33333%; }
  .row .col.pull-l5 { right: 41.66667%; }
  .row .col.pull-l6 { right: 50%; }
  .row .col.pull-l7 { right: 58.33333%; }
  .row .col.pull-l8 { right: 66.66667%; }
  .row .col.pull-l9 { right: 75%; }
  .row .col.pull-l10 { right: 83.33333%; }
  .row .col.pull-l11 { right: 91.66667%; }
  .row .col.pull-l12 { right: 100%; } }

/* ico */
@-webkit-keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.ico { display: inline-block; }
.ico:not(button) { pointer-events: none; }

.ico-arr-prev, .ico-arr-next { width: 0.625rem; height: 0.625rem; background-color: green; }

.ico-loading:after { width: 0.875rem; height: 0.875rem; -webkit-border-radius: 31.25rem; -moz-border-radius: 31.25rem; border-radius: 31.25rem; background-clip: padding-box; border-style: solid; border-width: 2px; border-color: #b1b1b1 #f3f3f3 #f3f3f3; -webkit-animation: button-spin .6s linear; animation: button-spin .6s linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
.input-field .ico-loading:after { margin-top: -0.5625rem; margin-left: -0.5625rem; }

.ico-srch:after { width: 0.625rem; height: 0.625rem; background-color: gray; }
.input-field .ico-srch:after { margin-top: -0.3125rem; margin-left: -0.3125rem; }

.ico-rect:after { width: 0.625rem; height: 0.625rem; background-color: gray; }
.input-field .ico-rect:after { margin-top: -0.3125rem; margin-left: -0.3125rem; }

/* button */
.btn { display: inline-block; border: 1px solid transparent; background: none; text-align: center; vertical-align: middle; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; }
.btn[disabled], .btn.btn--disabled { opacity: .4; pointer-events: none; }

a.btn { text-decoration: none; }

.btn--default { border-color: #ccc #bdbdbd #adadad; background-color: #fafafa; background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea', GradientType=0); color: #333; text-shadow: 0 1px 0 white; }
.btn--default:hover { border-color: #bfbfbf #bfbfbf #b3b3b3; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); background-color: #fff; background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%); background-image: -o-linear-gradient(top, #fff 0%, #eee 100%); background-image: linear-gradient(to bottom, #fff 0%, #eee 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0); }
.btn--default:focus { position: relative; z-index: 1; border-color: #1385e5; box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1); outline: none; }
.btn--default[aria-pressed="true"] { border-color: green; color: green; }

.btn--plain { border: none; }

.btn[disabled], .btn--disabled { pointer-events: none; background-color: #f3f3f3; }

.btn__txt { overflow: hidden; display: inline-block; text-overflow: ellipsis; vertical-align: top; }

.btn--xs { font-size: 0.7rem; line-height: 1.33rem; padding: 0 0.7rem; }
.btn--s { font-size: 0.7875rem; line-height: 1.81125rem; padding: 0 0.7875rem; }
.btn--m { font-size: 0.875rem; line-height: 2.3em; padding: 0 0.875rem; }
.btn--l { font-size: 1.09375rem; line-height: 2.51563rem; padding: 0 1.09375rem; }

input[data-role="button"] { position: absolute; left: -1000em; }
input[data-role="button"]:hover + .btn { border-color: #bfbfbf #bfbfbf #b3b3b3; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); background-color: #fff; background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%); background-image: -o-linear-gradient(top, #fff 0%, #eee 100%); background-image: linear-gradient(to bottom, #fff 0%, #eee 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0); }
input[data-role="button"]:focus + .btn { position: relative; z-index: 1; border-color: #1385e5; box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1); outline: none; }
input[data-role="button"]:checked + .btn { border-color: green; color: green; }

.btn__ico-left { margin-right: 0.1875rem; }
.btn__ico-right { margin-left: 0.1875rem; }

.dropdown { display: inline-block; position: relative; }
.dropdown__btn .ico { width: 0; height: 0; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent; vertical-align: middle; }
.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 100; min-width: 10rem; margin-top: 0.125rem; padding: 0.3125rem 0; border: solid 1px #ccc; -webkit-border-radius: 0.25rem; -moz-border-radius: 0.25rem; border-radius: 0.25rem; background-clip: padding-box; background-color: #fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
.dropdown-menu--right { left: inherit; right: 0; }
.dropdown-header { display: block; padding: 0.1875rem 1.25rem; line-height: 1.4; white-space: nowrap; font-size: 0.75rem; color: #777; }
.dropdown__a { display: block; padding: 0.1875rem 1.25rem; line-height: 1.4; white-space: nowrap; font-size: 0.875rem; color: #333; text-decoration: none; }
.dropdown__a:hover { background-color: #f5f5f5; color: #262626; }
.dropdown__divider { overflow: hidden; height: 1px; margin: 0.5625rem 0; background-color: #e5e5e5; }
.dropdown--disabled .dropdown__a { color: #777; pointer-events: none; cursor: not-allowed; }
.dropdown__btn[aria-expanded="true"] + .dropdown-menu { display: block; }
.dropdown__btn[aria-expanded="false"] + .dropdown-menu { display: none; }
.dropdown--up .dropdown__btn .ico { border-top: none; border-bottom: 4px solid; }
.dropdown--up .dropdown-menu { top: inherit; bottom: 100%; margin-top: inherit; margin-bottom: 0.125rem; }

.btns--left { float: left; }
.btns--right { float: right; }
.btns--center { text-align: center; }

.btn-group { overflow: hidden; }
.btn-group .btn--default { float: left; margin-right: -1px; }
.btn-group--justify { display: table; width: 100%; table-layout: fixed; border-collapse: separate; }
.btn-group--justify .btn { display: table-cell; float: none; width: 1%; }

.btn--default { -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; border-radius: 0.3em; background-clip: padding-box; }

.btn-group .btn--default:not(:nth-of-type(1)):not(:last-child) { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; }
.btn-group .btn--default:nth-of-type(1) { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; }
.btn-group .btn--default:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; }

/* input */
.input { box-sizing: border-box; padding-left: 0.625rem; padding-right: 0.625rem; border: solid 1px #ccc; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; background-clip: padding-box; background-color: #fff; font-size: 0.875rem; color: #333; vertical-align: middle; display: inline-block; height: 2.125rem; padding-top: 0.5rem; padding-bottom: 0.5rem; line-height: 1; vertical-align: middle; }
.input::-webkit-input-placeholder { color: #e0e0e0; }
.input:focus, .input--focus { position: relative; z-index: 1; outline: 0; border-color: #85B7D9; }
.input:focus::-webkit-input-placeholder, .input--focus::-webkit-input-placeholder { color: #8e8e8e; }
.input:disabled, .input--disabled { pointer-events: none; border-color: #e9e9e9; color: #f3f3f3; background-color: #f9f9f9; }
.col .input { width: 100%; }
.input--l { font-size: 1.0625rem; }
.input--s { font-size: 0.75rem; }

.input--error { background-color: #FFF6F6; border-color: #E0B4B4; color: #9F3A38; }
.input--error::-webkit-input-placeholder { color: #e7bdbc; }
.input--error:focus, .input--error.input--focus { border-color: #E0B4B4; }
.input--error:focus::-webkit-input-placeholder, .input--error.input--focus::-webkit-input-placeholder { color: #da9796; }

.input-group-addon { padding: 0.375rem 0.75rem; border: 1px solid #ccc; -webkit-border-radius: 0.25rem; -moz-border-radius: 0.25rem; border-radius: 0.25rem; background-clip: padding-box; background-color: #eee; font-size: 0.875rem; font-weight: 400; color: #555; line-height: 1; text-align: center; }

.input-field { display: inline-block; position: relative; box-sizing: border-box; }
.input-field .input { padding-right: 2.5rem; }
.input-field .ico:after { content: ''; display: inline-block; vertical-align: middle; }
.input-field > .ico, .input-field > .btn { position: absolute; top: 0; z-index: 2; width: 2.5rem; height: 2.25rem; }
.input-field > .ico:after, .input-field > .btn:after { position: absolute; top: 50%; left: 50%; }
.input-field .ico + .input, .input-field .btn + .input { padding-right: 0.625rem; padding-left: 2.5rem; }
.input-field .input + .ico, .input-field .input + .btn { right: 0; }

.input-group--fixed--contiguous { overflow: hidden; }
.input-group--fixed--contiguous .input { float: left; position: relative; }
.input-group--fixed--contiguous .input:first-child { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; }
.input-group--fixed--contiguous .input:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; }
.input-group--fixed--contiguous .input:not(:first-child):not(:last-child) { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; }
.input-group--fixed--contiguous .input:not(:first-child) { margin-left: -1px; }
.input-group--fixed--contiguous .btn { float: left; }
.input-group--fixed--contiguous .btn:first-child { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; }
.input-group--fixed--contiguous .btn:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; }
.input-group--fixed--contiguous .btn:not(:first-child) { margin-left: -1px; }

.input-group--table { display: table; border-collapse: separate; }
.input-group--table .input { display: table-cell; width: 100%; }
.input-group--table .input-group-btn { display: table-cell; width: 1%; position: relative; padding-right: 6px; white-space: nowrap; }
.input-group--table .input-group-btn .btn { display: inline-block; margin-right: -6px; }
.input-group--table .input-group-btn .dropdown__btn { margin-right: -8px; }
.input-group--table .input-group-addon { display: table-cell; width: 1%; white-space: nowrap; }
.input-group--table .input + .input-group-btn > .btn:first-child { margin-left: -1px; }
.input-group--table .input-group-btn:first-child > .btn:last-child { margin-right: -7px; }
.input-group--table .input:first-child, .input-group--table .input + .input-group-btn > .btn:not(.dropdown__btn):not(:last-child), .input-group--table .input-group-btn:first-child > .btn, .input-group--table .input-group-addon:first-child { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; }
.input-group--table .input-group-addon:first-child { border-right: none; }
.input-group--table .input:last-child, .input-group--table .input + .input-group-btn > .btn, .input-group--table .input-group-btn:first-child > .btn:not(:first-child), .input-group--table .input-group-addon:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; }
.input-group--table .input-group-addon:last-child { border-left: none; }
.input-group--table .input:not(:first-child):not(:last-child) { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; }

.input-group--flex { display: flex; }
.input-group--flex .input { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; width: 0; }
.input-group--flex .btn, .input-group--flex .input-group-addon { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }
.input-group--flex .input-group-addon { line-height: 1.3; }
.input-group--flex .input:not(:first-child), .input-group--flex .btn:not(:first-child), .input-group--flex .input-group-addon:not(:first-child), .input-group--flex .dropdown:not(:first-child) { margin-left: -1px; }
.input-group--flex .input:not(:first-child):not(:last-child), .input-group--flex .btn:not(:first-child):not(:last-child), .input-group--flex .input-group-addon:not(:first-child):not(:last-child), .input-group--flex .dropdown:not(:first-child):not(:last-child) .dropdown__btn { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; }
.input-group--flex .input:first-child, .input-group--flex .btn:not(.dropdown__btn):first-child, .input-group--flex .input-group-addon:first-child, .input-group--flex .dropdown:first-child .dropdown__btn { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; }
.input-group--flex .input:last-child, .input-group--flex .btn:last-child, .input-group--flex .input-group-addon:last-child, .input-group--flex .dropdown:last-child .dropdown__btn { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; }

/* textarea */
.textarea { box-sizing: border-box; padding-left: 0.625rem; padding-right: 0.625rem; border: solid 1px #ccc; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; background-clip: padding-box; background-color: #fff; font-size: 0.875rem; color: #333; vertical-align: middle; display: block; width: 100%; height: auto; padding-top: 0.4375rem; padding-bottom: 0.4375rem; line-height: 1.4em; resize: vertical; }
.textarea::-webkit-input-placeholder { color: #e0e0e0; }
.textarea:focus, .textarea--focus { position: relative; z-index: 1; outline: 0; border-color: #85B7D9; }
.textarea:focus::-webkit-input-placeholder, .textarea--focus::-webkit-input-placeholder { color: #8e8e8e; }
.textarea:disabled, .textarea--disabled { pointer-events: none; border-color: #e9e9e9; color: #f3f3f3; background-color: #f9f9f9; }

/* select */
.select { box-sizing: border-box; padding-left: 0.625rem; padding-right: 0.625rem; border: solid 1px #ccc; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; background-clip: padding-box; background-color: #fff; font-size: 0.875rem; color: #333; vertical-align: middle; display: inline-block; height: 2.4em; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); border-top-color: #d6d6d6; border-bottom-color: #c2c2c2; }
.select::-webkit-input-placeholder { color: #e0e0e0; }
.select:focus, .select--focus { position: relative; z-index: 1; outline: 0; border-color: #85B7D9; }
.select:focus::-webkit-input-placeholder, .select--focus::-webkit-input-placeholder { color: #8e8e8e; }
.select:disabled, .select--disabled { pointer-events: none; border-color: #e9e9e9; color: #f3f3f3; background-color: #f9f9f9; }
.form-field .select { width: 100%; }

.select--arr { box-sizing: border-box; padding-left: 0.625rem; padding-right: 0.625rem; border: solid 1px #ccc; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; background-clip: padding-box; background-color: #fff; font-size: 0.875rem; color: #333; vertical-align: middle; display: inline-block; height: 2.4em; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); border-top-color: #d6d6d6; border-bottom-color: #c2c2c2; width: 100%; -webkit-appearance: none; -moz-appearance: none; }
.select--arr::-webkit-input-placeholder { color: #e0e0e0; }
.select--arr:focus, .select--arr--focus { position: relative; z-index: 1; outline: 0; border-color: #85B7D9; }
.select--arr:focus::-webkit-input-placeholder, .select--arr--focus::-webkit-input-placeholder { color: #8e8e8e; }
.select--arr:disabled, .select--arr--disabled { pointer-events: none; border-color: #e9e9e9; color: #f3f3f3; background-color: #f9f9f9; }
.select--arr__arr { overflow: hidden; position: absolute; right: 0; bottom: 0; width: 33px; height: 33px; text-align: center; line-height: 33px; pointer-events: none; }

.dropdown--select { display: block; position: relative; }
.dropdown--select .dropdown__btn { box-sizing: border-box; padding-left: 0.625rem; padding-right: 0.625rem; border: solid 1px #ccc; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; background-clip: padding-box; background-color: #fff; font-size: 0.875rem; color: #333; vertical-align: middle; display: inline-block; height: 2.4em; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); border-top-color: #d6d6d6; border-bottom-color: #c2c2c2; position: relative; width: 100%; text-align: left; cursor: default; }
.dropdown--select .dropdown__btn::-webkit-input-placeholder { color: #e0e0e0; }
.dropdown--select .dropdown__btn:focus, .dropdown--select .dropdown__btn--focus { position: relative; z-index: 1; outline: 0; border-color: #85B7D9; }
.dropdown--select .dropdown__btn:focus::-webkit-input-placeholder, .dropdown--select .dropdown__btn--focus::-webkit-input-placeholder { color: #8e8e8e; }
.dropdown--select .dropdown__btn:disabled, .dropdown--select .dropdown__btn--disabled { pointer-events: none; border-color: #e9e9e9; color: #f3f3f3; background-color: #f9f9f9; }
.dropdown--select .dropdown__btn .ico { float: right; position: absolute; top: 50%; right: 0.625rem; margin-top: -2px; }
.dropdown--select .dropdown-menu { width: 100%; box-sizing: border-box; }

/* checkbox, radio */
.checkbox-field { display: inline-block; margin-right: 0.625rem; line-height: 1.4; }
.checkbox-field .checkbox { vertical-align: middle; }
.checkbox-field .checkbox__label { vertical-align: middle; white-space: nowrap; }
.checkbox-field--block { display: block; margin-bottom: 0.3125rem; }
.checkbox-field--custom { position: relative; }
.checkbox-field--custom .checkbox { position: absolute; left: 0; /*  z-index: -1; */ opacity: 0; }
.checkbox-field--custom .checkbox__label { font-size: 0.875rem; color: #333; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-field--custom .checkbox__label { padding-left: 25px; }
.checkbox-field--custom .checkbox__label:before { content: ''; position: absolute; top: 0; left: 0; width: 1.0625rem; height: 1.0625rem; box-sizing: border-box; border-radius: .21428571rem; border: 1px solid #D4D4D5; background: #fff; }
.checkbox-field--custom .checkbox[checked="true"] + .checkbox__label:after { content: 'v'; position: absolute; top: 0; left: 0; width: 1.0625rem; height: 1.0625rem; text-align: center; }
.checkbox-field--custom .checkbox[checked="true"]:focus + .checkbox__label:before { border-color: #85b7d9; }
.checkbox-field--slider { position: relative; }
.checkbox-field--slider .checkbox { position: absolute; left: 0; /*  z-index: -1; */ opacity: 0; }
.checkbox-field--slider .checkbox__label { font-size: 0.875rem; color: #333; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-field--slider .checkbox__label { display: block; padding-left: 3.5625rem; }
.checkbox-field--slider .checkbox__label:before { content: ''; display: inline-block; position: absolute; left: 0; top: 50%; width: 3.125rem; height: 3px; margin-top: -1.5px; box-sizing: border-box; background-color: #f3f3f3; vertical-align: middle; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease; }
.checkbox-field--slider .checkbox__label:after { content: ''; position: absolute; top: -0.125rem; left: 0; z-index: 2; width: 1.25rem; height: 1.25rem; box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset; border-radius: 500rem; background-image: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); background-image: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%); background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2', GradientType=0); -webkit-transition: left 0.3s ease; -moz-transition: left 0.3s ease; -o-transition: left 0.3s ease; transition: left 0.3s ease; }
.checkbox-field--slider .checkbox[checked="true"] + .checkbox__label:before { background-color: #545454; }
.checkbox-field--slider .checkbox[checked="true"] + .checkbox__label:after { left: 32px; }
.checkbox-field--toggle { position: relative; }
.checkbox-field--toggle .checkbox { position: absolute; left: 0; /*  z-index: -1; */ opacity: 0; }
.checkbox-field--toggle .checkbox__label { font-size: 0.875rem; color: #333; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-field--toggle .checkbox__label { display: block; padding-left: 3.75rem; padding-top: 1px; }
.checkbox-field--toggle .checkbox__label:before { content: ''; display: inline-block; position: absolute; left: 0; top: 0; width: 3.125rem; height: 1.25rem; box-sizing: border-box; background-color: #f3f3f3; vertical-align: middle; -webkit-border-radius: 500rem; -moz-border-radius: 500rem; border-radius: 500rem; background-clip: padding-box; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease; }
.checkbox-field--toggle .checkbox__label:after { content: ''; position: absolute; top: -0.0625rem; left: 0; z-index: 2; width: 1.25rem; height: 1.25rem; box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset; border-radius: 500rem; background-image: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); background-image: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%); background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2', GradientType=0); -webkit-transition: left 0.3s ease; -moz-transition: left 0.3s ease; -o-transition: left 0.3s ease; transition: left 0.3s ease; }
.checkbox-field--toggle .checkbox[checked="true"] + .checkbox__label:before { background-color: #0d71bb; }
.checkbox-field--toggle .checkbox[checked="true"] + .checkbox__label:after { left: 32px; }

/* radio */
.radio-field { display: inline-block; margin-right: 0.625rem; line-height: 1.4; }
.radio-field .radio { vertical-align: middle; }
.radio-field .radio__label { vertical-align: middle; white-space: nowrap; }
.radio-field--block { display: block; margin-bottom: 0.3125rem; }
.radio-field--custom { position: relative; }
.radio-field--custom .radio { position: absolute; left: 0; /*  z-index: -1; */ opacity: 0; }
.radio-field--custom .radio__label { font-size: 0.875rem; color: #333; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.radio-field--custom .radio__label { display: block; padding-left: 1.375rem; }
.radio-field--custom .radio__label:before { content: ''; position: absolute; top: 50%; left: 0; width: 0.9375rem; height: 0.9375rem; margin-top: -0.46875rem; box-sizing: border-box; -webkit-border-radius: 500rem; -moz-border-radius: 500rem; border-radius: 500rem; background-clip: padding-box; border: 1px solid #D4D4D5; background: #fff; }
.radio-field--custom .radio__label:after { content: ''; position: absolute; top: 50%; left: 4px; width: 0.4375rem; height: 0.4375rem; margin-top: -0.21875rem; -webkit-border-radius: 500rem; -moz-border-radius: 500rem; border-radius: 500rem; background-clip: padding-box; background-color: #fff; }
.radio-field--custom .radio[checked="true"] + .radio__label:after { background-color: #000; }
.radio-field--custom .radio:focus + .radio__label:before { border-color: #85b7d9; }

/* form */
.form .form-field { position: relative; margin-bottom: 0.625rem; }
.form .form-field:last-child { margin-bottom: 0; }
.form .form__label { font-size: 0.875rem; font-weight: 500; color: #777; }

.form--default .form__label { display: block; margin-bottom: 0.3125rem; line-height: 1.4; }
.form--default .input { width: 100%; }
@media only screen and (min-width: 601px) { .form--default .row { margin-left: -0.3125rem; margin-right: -0.3125rem; }
  .form--default .row .col.form-field { margin-top: inherit; padding-left: 0.3125rem; padding-right: 0.3125rem; } }

.form--horizontal .form-field { overflow: hidden; }
.form--horizontal .form-field--offset { margin-left: 30%; }
.form--horizontal .form__label { float: left; width: 30%; line-height: 2.125rem; }
.form--horizontal .input { width: 70%; }

.form--inline .form__label { display: block; margin-bottom: 0.3125rem; line-height: 1.4; }
.form--inline .input { width: 100%; }
@media only screen and (min-width: 601px) { .form--inline .form-field { display: inline-block; margin-right: 0.625rem; margin-bottom: 0; }
  .form--inline .form-field .form__label { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; } }

.form-note { margin-top: 0.375rem; margin-bottom: 0.375rem; font-size: 0.75rem; color: #777; line-height: 1.4; }

.legend { margin-bottom: 0.625rem; }

.form--invalid { margin-top: 0.1875rem; font-size: 0.6875rem; color: #d64242; line-height: 1.4; }
.form--invalid[data-visible="true"] { display: block; }
.form--invalid[data-visible="false"] { display: none; }

.fileUpload { padding: 0.625rem 0.625rem 0; border: solid 1px #ccc; -webkit-border-radius: 0.4375rem; -moz-border-radius: 0.4375rem; border-radius: 0.4375rem; background-clip: padding-box; }
.fileUpload input[type="file"] { display: none; }
.fileUpload-dragAndDrop .fileUpload__btn { display: block; padding: 1.5625rem; width: 100%; height: 0.625rem; border: dashed 2px #ccc; -webkit-border-radius: 0.4375rem; -moz-border-radius: 0.4375rem; border-radius: 0.4375rem; background-clip: padding-box; color: #666; line-height: 0; }
.fileUpload-lst { clear: both; margin-bottom: 0.625rem; font-size: 0.75rem; color: #666; line-height: 2.0; }
.fileUpload-item { overflow: hidden; padding: 0.3125rem 0; border-bottom: solid 1px #ccc; }
.fileUpload-item .btn { float: right; }
.fileUpload-txt { float: left; }

/* nav */
.tabs--default .tabs-lst { border-bottom: solid 1px #ddd; }
.tabs--default .tabs-lst:after { content: ''; display: block; clear: both; }
.tabs--default .tabs-item { float: left; margin-bottom: -1px; }
.tabs--default .tabs-item__a { display: block; margin-right: 0.125rem; padding: 0.625rem 0.9375rem; border: solid 1px transparent; -webkit-border-top-left-radius: 0.25rem; -moz-border-top-left-radius: 0.25rem; border-top-left-radius: 0.25rem; background-clip: padding-box; -webkit-border-top-right-radius: 0.25rem; -moz-border-top-right-radius: 0.25rem; border-top-right-radius: 0.25rem; background-clip: padding-box; font-size: 0.875rem; color: #555; text-decoration: none; }
.tabs--default .tabs-item__a:focus { outline: none; }
.tabs--default .tabs-item__a:hover, .tabs--default .tabs-item__a:focus { background-color: #eee; }
.tabs--default[data-current="0"] .tabs-item[data-idx="0"] .tabs-item__a, .tabs--default[data-current="1"] .tabs-item[data-idx="1"] .tabs-item__a, .tabs--default[data-current="2"] .tabs-item[data-idx="2"] .tabs-item__a { border-color: #ddd #ddd #fff; background-color: #fff; color: #337ab7; cursor: default; }
.tabs--default .tabs-cnts { display: none; margin-top: 0.625rem; padding: 0.625rem; border: solid 1px #ccc; -webkit-border-radius: 0.25rem; -moz-border-radius: 0.25rem; border-radius: 0.25rem; background-clip: padding-box; font-size: 0.875rem; color: #666; line-height: 100%; vertical-align: middle; }
.tabs--default .tabs-cnts a { display: inline-block; margin-right: 10px; font-size: 12px; color: #666; text-decoration: none; }
.tabs--default .tabs-cnts a:focus { outline: none; }
.tabs--default .tabs-cnts a:hover, .tabs--default .tabs-cnts a:focus { text-decoration: underline; }

.tabs--nonlogical[data-current="0"] .tabs-cnts[data-idx="0"], .tabs--nonlogical[data-current="1"] .tabs-cnts[data-idx="1"], .tabs--nonlogical[data-current="2"] .tabs-cnts[data-idx="2"] { display: block; }

.tabs--logical .tabs-lst { position: relative; }
.tabs--logical .tabs-cnts { position: absolute; left: 0; right: 0; }
.tabs--logical[data-current="0"] .tabs-item[data-idx="0"] .tabs-cnts, .tabs--logical[data-current="1"] .tabs-item[data-idx="1"] .tabs-cnts, .tabs--logical[data-current="2"] .tabs-item[data-idx="2"] .tabs-cnts { display: block; }

/* ex */
.wrap.ex { padding: 1.25rem; color: #333; }

.ex__txt { margin-top: 0; margin-bottom: 0.875rem; font-size: 0.875rem; color: #333; line-height: 1.4; }

.block--box { margin-top: 0.625rem; margin-bottom: 0.625rem; margin-right: 0.625rem; padding: 1.25rem; border: solid 1px #ccc; -webkit-border-radius: 4.2px; -moz-border-radius: 4.2px; border-radius: 4.2px; background-clip: padding-box; }

/*# sourceMappingURL=ex-base.css.map */
