/* base */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

legend, .blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }

/* button */
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; -moz-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

.btn { display: inline-block; border: 1px solid transparent; background: none; text-align: center; vertical-align: middle; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; }

.btn--default { min-height: 1em; padding: 0; border-color: #e8e5e5; background-color: #fff; vertical-align: baseline; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; color: #000; -webkit-tab-highlight-color: transparent; }
.btn--default:hover { background-color: #f1f1f1; }
.btn--default:focus { background-color: #f2f2f2; border-color: #bbb; outline: 0; }
.btn--default[aria-pressed="true"] { background-color: yellow; border-color: orange; }

.btn--plain { border: none; }

.btn[disabled], .btn--disabled { pointer-events: none; background-color: #ebebeb; color: #aaa; }

.btn__txt { overflow: hidden; display: inline-block; text-overflow: ellipsis; vertical-align: top; }

.btn--s { font-size: 0.8125rem; line-height: 1.5rem; }
.btn--s .btn__txt { margin: 0 0.625rem; }

.btn--m { font-size: 0.8125rem; line-height: 2em; }
.btn--m .btn__txt { margin: 0 0.8125rem; }

.btn--l { font-size: 0.9375rem; line-height: 2rem; }
.btn--l .btn__txt { margin: 0 0.9375rem; }

.btn--xl { font-size: 1.125rem; line-height: 2.375rem; }
.btn--xl .btn__txt { margin: 0 1.125rem; }

input[data-role="button"] { position: absolute; left: -1000em; }

input[data-role="button"]:hover + .btn { background-color: #f1f1f1; }

input[data-role="button"]:focus + .btn { background-color: #f2f2f2; border-color: #bbb; outline: 0; }

input[data-role="button"]:checked + .btn { background-color: yellow; border-color: orange; }

.btn__icon-left { margin-left: 0.8125rem; margin-right: -0.625rem; }

.btn__icon-right { margin-right: 0.8125rem; margin-left: -0.625rem; }

.btns--pos-left { float: left; }

.btns--pos-right { float: right; }

.btns--pos-center { text-align: center; }

.btn-group { overflow: hidden; }
.btn-group .btn--default { float: left; margin-right: -1px; }
.btn-group .btn--default:focus, .btn-group input[data-role="button"]:focus + .btn--default { position: relative; z-index: 1; }

.btn-group--justify { display: table; width: 100%; table-layout: fixed; border-collapse: seperate; }
.btn-group--justify .btn { display: table-cell; float: none; width: 1%; }

.btn--default { -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; border-radius: 0.3em; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

.btn-group .btn--default:not(:nth-of-type(1)):not(:last-child) { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.btn-group .btn--default:nth-of-type(1) { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.btn-group .btn--default:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

/* ex */
.ex { padding: 0.625rem 1.25rem; }

.ex__h2 { margin-top: 2.5rem; margin-bottom: 1.875rem; }

.ex__h3 { margin-top: 32px; margin-bottom: 0; padding: 8px; background-color: #f1f1f1; }

.ex__h4 { margin-top: 8px; margin-bottom: 0; padding-top: 16px; border-bottom: solid 1px #ccc; }

.ex-row { overflow: hidden; clear: both; padding: 8px; }

.ex__txt { font-size: 12px; color: #777; line-height: 32px; }

/*# sourceMappingURL=ex-button.css.map */
