/* base */
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1; }

ol, ul { margin: 0; padding: 0; list-style: none; }

li { margin: 0; padding: 0; }

img { border: 0; }

button, input, optgroup, select, textarea { font-family: inherit; }

/* button,html input[type=button],input[type=reset],input[type=submit] { -webkit-appearance: button; cursor: pointer;
} */
fieldset { margin: 0; padding: 0; border: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* td,th { padding: 0
} */
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 1.125rem; color: #222; font-weight: 500; line-height: 1; }

h1, .h1 { font-size: 3rem; }

h2, .h2 { margin-top: 2.25rem; font-size: 2.25rem; font-weight: 300; }

h3, .h3 { font-size: 1.25rem; }

h4, .h4 { font-size: 1rem; }

h5, .h5 { font-size: 0.85rem; }

h6, .h6 { font-size: 0.75rem; }

.blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }

/* grid */
.row { overflow: hidden; clear: both; box-sizing: border-box; }
.row .col { float: left; box-sizing: border-box; }
.row .col.s1 { width: 8.33333%; }
.row .col.s2 { width: 16.66667%; }
.row .col.s3 { width: 25%; }
.row .col.s4 { width: 33.33333%; }
.row .col.s5 { width: 41.66667%; }
.row .col.s6 { width: 50%; }
.row .col.s7 { width: 58.33333%; }
.row .col.s8 { width: 66.66667%; }
.row .col.s9 { width: 75%; }
.row .col.s10 { width: 83.33333%; }
.row .col.s11 { width: 91.66667%; }
.row .col.s12 { width: 100%; }
@media only screen and (min-width: 601px) { .row .col.m1 { width: 8.33333%; }
  .row .col.m2 { width: 16.66667%; }
  .row .col.m3 { width: 25%; }
  .row .col.m4 { width: 33.33333%; }
  .row .col.m5 { width: 41.66667%; }
  .row .col.m6 { width: 50%; }
  .row .col.m7 { width: 58.33333%; }
  .row .col.m8 { width: 66.66667%; }
  .row .col.m9 { width: 75%; }
  .row .col.m10 { width: 83.33333%; }
  .row .col.m11 { width: 91.66667%; }
  .row .col.m12 { width: 100%; } }
@media only screen and (min-width: 993px) { .row .col.l1 { width: 8.33333%; }
  .row .col.l2 { width: 16.66667%; }
  .row .col.l3 { width: 25%; }
  .row .col.l4 { width: 33.33333%; }
  .row .col.l5 { width: 41.66667%; }
  .row .col.l6 { width: 50%; }
  .row .col.l7 { width: 58.33333%; }
  .row .col.l8 { width: 66.66667%; }
  .row .col.l9 { width: 75%; }
  .row .col.l10 { width: 83.33333%; }
  .row .col.l11 { width: 91.66667%; }
  .row .col.l12 { width: 100%; } }

/* ex */
.wrap.ex { padding: 0.625rem 1.25rem; color: #333; }

.ex__txt { margin-bottom: 1rem; font-size: 0.75rem; }

.block--box { margin-top: 0.625rem; margin-bottom: 0.625rem; margin-right: 0.625rem; padding: 1.25rem; border: solid 1px #ccc; -webkit-border-radius: 4.2px; -moz-border-radius: 4.2px; border-radius: 4.2px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

/* ex-grid */
.ex-grid .col { height: 50px; border: solid 1px #fff; background-color: #f1f1f1; text-align: center; line-height: 50px; vertical-align: middle; }

.ex-grid-prefix { margin: 0; padding: 0; font-size: 14px; }
.ex-grid-prefix li { border-bottom: solid 1px #f3f3f3; }
.ex-grid-prefix dt { display: inline-block; width: 40%; }
.ex-grid-prefix dd { display: inline-block; border-bottom: solid 1px #fefefe; }

.col.ex-grid__1 { height: 200px; }
.col.ex-grid__1 div { margin: 10px; }
.col.ex-grid__1 p { height: 30px; margin: 10px; font-size: 12px; line-height: 30px; background-color: #cad7de; }

.col.ex-grid__2 { height: 200px; }
.col.ex-grid__2 div { margin: 10px; }
.col.ex-grid__2 p { height: 30px; margin: 10px; font-size: 12px; line-height: 30px; background-color: #8cccc6; }

/*# sourceMappingURL=ex-grid.css.map */
