/* base */
body, html { height: 100%; }

body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1; }

ol, ul { margin: 0; padding: 0; list-style: none; }

li { margin: 0; padding: 0; }

img { border: 0; }

button, input, optgroup, select, textarea { font-family: inherit; }

/* button,html input[type=button],input[type=reset],input[type=submit] { -webkit-appearance: button; cursor: pointer;
} */
fieldset { margin: 0; padding: 0; border: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* td,th { padding: 0
} */
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 18px; color: #222; font-weight: 500; line-height: 1; }

h1, .h1 { font-size: 48px; }

h2, .h2 { margin-top: 36px; font-size: 36px; font-weight: 300; }

h3, .h3 { font-size: 20px; }

h4, .h4 { font-size: 16px; }

h5, .h5 { font-size: 13.6px; }

h6, .h6 { font-size: 12px; }

.blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }

/* grid */
.row { overflow: hidden; clear: both; box-sizing: border-box; }
.row .col { float: left; box-sizing: border-box; }
.row .col.s1 { width: 8.33333%; }
.row .col.s2 { width: 16.66667%; }
.row .col.s3 { width: 25%; }
.row .col.s4 { width: 33.33333%; }
.row .col.s5 { width: 41.66667%; }
.row .col.s6 { width: 50%; }
.row .col.s7 { width: 58.33333%; }
.row .col.s8 { width: 66.66667%; }
.row .col.s9 { width: 75%; }
.row .col.s10 { width: 83.33333%; }
.row .col.s11 { width: 91.66667%; }
.row .col.s12 { width: 100%; }
@media only screen and (min-width: 601px) { .row .col.m1 { width: 8.33333%; }
  .row .col.m2 { width: 16.66667%; }
  .row .col.m3 { width: 25%; }
  .row .col.m4 { width: 33.33333%; }
  .row .col.m5 { width: 41.66667%; }
  .row .col.m6 { width: 50%; }
  .row .col.m7 { width: 58.33333%; }
  .row .col.m8 { width: 66.66667%; }
  .row .col.m9 { width: 75%; }
  .row .col.m10 { width: 83.33333%; }
  .row .col.m11 { width: 91.66667%; }
  .row .col.m12 { width: 100%; } }
@media only screen and (min-width: 993px) { .row .col.l1 { width: 8.33333%; }
  .row .col.l2 { width: 16.66667%; }
  .row .col.l3 { width: 25%; }
  .row .col.l4 { width: 33.33333%; }
  .row .col.l5 { width: 41.66667%; }
  .row .col.l6 { width: 50%; }
  .row .col.l7 { width: 58.33333%; }
  .row .col.l8 { width: 66.66667%; }
  .row .col.l9 { width: 75%; }
  .row .col.l10 { width: 83.33333%; }
  .row .col.l11 { width: 91.66667%; }
  .row .col.l12 { width: 100%; } }

/* ico */
.ico { display: inline-block; }

.ico-arr-prev, .ico-arr-next { width: 10px; height: 10px; background-color: green; }

.ico-loading { width: 14px; height: 14px; -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ border-style: solid; border-width: 2px; border-color: #b1b1b1 #f3f3f3 #f3f3f3; -webkit-animation: button-spin .6s linear; animation: button-spin .6s linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@-webkit-keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.ico-srch { content: "\f002"; width: 37px; height: 37px; }

/* input */
.input { display: inline-block; min-height: 36px; padding: 9px 10px; background-color: #fff; box-sizing: border-box; border: solid 1px #ccc; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; background-clip: padding-box; /* stops bg color from leaking outside the border: */ font-size: 14px; color: #333; vertical-align: middle; }
.input::-webkit-input-placeholder { color: #e0e0e0; }
.input:focus, .input--focus { outline: 0; border-color: #85B7D9; }
.input:focus::-webkit-input-placeholder, .input--focus::-webkit-input-placeholder { color: #8e8e8e; }
.input:disabled, .input--disabled { pointer-events: none; border-color: #e9e9e9; color: #f3f3f3; background-color: #f9f9f9; }
.input--error { background-color: #FFF6F6; border-color: #E0B4B4; color: #9F3A38; }
.input--error::-webkit-input-placeholder { color: #e7bdbc; }
.input--error:focus, .input--error.input--focus { border-color: #E0B4B4; }
.input--error:focus::-webkit-input-placeholder, .input--error.input--focus::-webkit-input-placeholder { color: #da9796; }
.input--loading-l, .input--loading-r { position: relative; }
.input--loading-l .ico-loading, .input--loading-r .ico-loading { position: absolute; top: 0; }
.input--loading-l .ico-loading { left: 15px; }
.input--loading-l .input { padding-left: 45px; }
.input--loading-r .ico-loading { right: 15px; }
.input--loading-r .input { padding-right: 45px; }

/* ex */
.wrap.ex { padding: 10px 20px; color: #333; }

.ex__txt { margin-bottom: 16px; font-size: 12px; }

.block--box { margin-top: 10px; margin-bottom: 10px; margin-right: 10px; padding: 20px; border: solid 1px #ccc; -webkit-border-radius: 4.2px; -moz-border-radius: 4.2px; border-radius: 4.2px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

/*# sourceMappingURL=ex-input-ie.css.map */
