/* base */
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1; }

ol, ul { margin: 0; padding: 0; list-style: none; }

li { margin: 0; padding: 0; }

img { border: 0; }

button, input, select, textarea { font-family: inherit; }

fieldset { margin: 0; padding: 0; border: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 18px; color: #222; font-weight: 500; line-height: 1; }

h1, .h1 { font-size: 48px; }

h2, .h2 { margin-top: 36px; font-size: 36px; font-weight: 300; }

h3, .h3 { font-size: 20px; }

h4, .h4 { font-size: 16px; }

h5, .h5 { font-size: 13.6px; }

h6, .h6 { font-size: 12px; }

.blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }

/* grid */
.row { overflow: hidden; clear: both; box-sizing: border-box; }
.row .col { float: left; box-sizing: border-box; }
.row .col[class*="push-"], .row .col[class*="pull-"] { position: relative; }
.row .col.s1 { width: 8.33333%; }
.row .col.s2 { width: 16.66667%; }
.row .col.s3 { width: 25%; }
.row .col.s4 { width: 33.33333%; }
.row .col.s5 { width: 41.66667%; }
.row .col.s6 { width: 50%; }
.row .col.s7 { width: 58.33333%; }
.row .col.s8 { width: 66.66667%; }
.row .col.s9 { width: 75%; }
.row .col.s10 { width: 83.33333%; }
.row .col.s11 { width: 91.66667%; }
.row .col.s12 { width: 100%; }
.row .col.offset-s1 { margin-left: 8.33333%; }
.row .col.offset-s2 { margin-left: 16.66667%; }
.row .col.offset-s3 { margin-left: 25%; }
.row .col.offset-s4 { margin-left: 33.33333%; }
.row .col.offset-s5 { margin-left: 41.66667%; }
.row .col.offset-s6 { margin-left: 50%; }
.row .col.offset-s7 { margin-left: 58.33333%; }
.row .col.offset-s8 { margin-left: 66.66667%; }
.row .col.offset-s9 { margin-left: 75%; }
.row .col.offset-s10 { margin-left: 83.33333%; }
.row .col.offset-s11 { margin-left: 91.66667%; }
.row .col.offset-s12 { margin-left: 100%; }
.row .col.push-s1 { left: 8.33333%; }
.row .col.push-s2 { left: 16.66667%; }
.row .col.push-s3 { left: 25%; }
.row .col.push-s4 { left: 33.33333%; }
.row .col.push-s5 { left: 41.66667%; }
.row .col.push-s6 { left: 50%; }
.row .col.push-s7 { left: 58.33333%; }
.row .col.push-s8 { left: 66.66667%; }
.row .col.push-s9 { left: 75%; }
.row .col.push-s10 { left: 83.33333%; }
.row .col.push-s11 { left: 91.66667%; }
.row .col.push-s12 { left: 100%; }
.row .col.pull-s1 { right: 8.33333%; }
.row .col.pull-s2 { right: 16.66667%; }
.row .col.pull-s3 { right: 25%; }
.row .col.pull-s4 { right: 33.33333%; }
.row .col.pull-s5 { right: 41.66667%; }
.row .col.pull-s6 { right: 50%; }
.row .col.pull-s7 { right: 58.33333%; }
.row .col.pull-s8 { right: 66.66667%; }
.row .col.pull-s9 { right: 75%; }
.row .col.pull-s10 { right: 83.33333%; }
.row .col.pull-s11 { right: 91.66667%; }
.row .col.pull-s12 { right: 100%; }
.row .col.m1 { width: 8.33333%; }
.row .col.m2 { width: 16.66667%; }
.row .col.m3 { width: 25%; }
.row .col.m4 { width: 33.33333%; }
.row .col.m5 { width: 41.66667%; }
.row .col.m6 { width: 50%; }
.row .col.m7 { width: 58.33333%; }
.row .col.m8 { width: 66.66667%; }
.row .col.m9 { width: 75%; }
.row .col.m10 { width: 83.33333%; }
.row .col.m11 { width: 91.66667%; }
.row .col.m12 { width: 100%; }
.row .col.offset-m1 { margin-left: 8.33333%; }
.row .col.offset-m2 { margin-left: 16.66667%; }
.row .col.offset-m3 { margin-left: 25%; }
.row .col.offset-m4 { margin-left: 33.33333%; }
.row .col.offset-m5 { margin-left: 41.66667%; }
.row .col.offset-m6 { margin-left: 50%; }
.row .col.offset-m7 { margin-left: 58.33333%; }
.row .col.offset-m8 { margin-left: 66.66667%; }
.row .col.offset-m9 { margin-left: 75%; }
.row .col.offset-m10 { margin-left: 83.33333%; }
.row .col.offset-m11 { margin-left: 91.66667%; }
.row .col.offset-m12 { margin-left: 100%; }
.row .col.push-m1 { left: 8.33333%; }
.row .col.push-m2 { left: 16.66667%; }
.row .col.push-m3 { left: 25%; }
.row .col.push-m4 { left: 33.33333%; }
.row .col.push-m5 { left: 41.66667%; }
.row .col.push-m6 { left: 50%; }
.row .col.push-m7 { left: 58.33333%; }
.row .col.push-m8 { left: 66.66667%; }
.row .col.push-m9 { left: 75%; }
.row .col.push-m10 { left: 83.33333%; }
.row .col.push-m11 { left: 91.66667%; }
.row .col.push-m12 { left: 100%; }
.row .col.pull-m1 { right: 8.33333%; }
.row .col.pull-m2 { right: 16.66667%; }
.row .col.pull-m3 { right: 25%; }
.row .col.pull-m4 { right: 33.33333%; }
.row .col.pull-m5 { right: 41.66667%; }
.row .col.pull-m6 { right: 50%; }
.row .col.pull-m7 { right: 58.33333%; }
.row .col.pull-m8 { right: 66.66667%; }
.row .col.pull-m9 { right: 75%; }
.row .col.pull-m10 { right: 83.33333%; }
.row .col.pull-m11 { right: 91.66667%; }
.row .col.pull-m12 { right: 100%; }
.row .col.l1 { width: 8.33333%; }
.row .col.l2 { width: 16.66667%; }
.row .col.l3 { width: 25%; }
.row .col.l4 { width: 33.33333%; }
.row .col.l5 { width: 41.66667%; }
.row .col.l6 { width: 50%; }
.row .col.l7 { width: 58.33333%; }
.row .col.l8 { width: 66.66667%; }
.row .col.l9 { width: 75%; }
.row .col.l10 { width: 83.33333%; }
.row .col.l11 { width: 91.66667%; }
.row .col.l12 { width: 100%; }
.row .col.offset-l1 { margin-left: 8.33333%; }
.row .col.offset-l2 { margin-left: 16.66667%; }
.row .col.offset-l3 { margin-left: 25%; }
.row .col.offset-l4 { margin-left: 33.33333%; }
.row .col.offset-l5 { margin-left: 41.66667%; }
.row .col.offset-l6 { margin-left: 50%; }
.row .col.offset-l7 { margin-left: 58.33333%; }
.row .col.offset-l8 { margin-left: 66.66667%; }
.row .col.offset-l9 { margin-left: 75%; }
.row .col.offset-l10 { margin-left: 83.33333%; }
.row .col.offset-l11 { margin-left: 91.66667%; }
.row .col.offset-l12 { margin-left: 100%; }
.row .col.push-l1 { left: 8.33333%; }
.row .col.push-l2 { left: 16.66667%; }
.row .col.push-l3 { left: 25%; }
.row .col.push-l4 { left: 33.33333%; }
.row .col.push-l5 { left: 41.66667%; }
.row .col.push-l6 { left: 50%; }
.row .col.push-l7 { left: 58.33333%; }
.row .col.push-l8 { left: 66.66667%; }
.row .col.push-l9 { left: 75%; }
.row .col.push-l10 { left: 83.33333%; }
.row .col.push-l11 { left: 91.66667%; }
.row .col.push-l12 { left: 100%; }
.row .col.pull-l1 { right: 8.33333%; }
.row .col.pull-l2 { right: 16.66667%; }
.row .col.pull-l3 { right: 25%; }
.row .col.pull-l4 { right: 33.33333%; }
.row .col.pull-l5 { right: 41.66667%; }
.row .col.pull-l6 { right: 50%; }
.row .col.pull-l7 { right: 58.33333%; }
.row .col.pull-l8 { right: 66.66667%; }
.row .col.pull-l9 { right: 75%; }
.row .col.pull-l10 { right: 83.33333%; }
.row .col.pull-l11 { right: 91.66667%; }
.row .col.pull-l12 { right: 100%; }

/* ico */
@-webkit-keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes button-spin { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.ico { display: inline-block; }
.ico:not(button) { pointer-events: none; }

.ico-arr-prev, .ico-arr-next { width: 10px; height: 10px; background-color: green; }

.ico-loading:after { width: 14px; height: 14px; -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ border-style: solid; border-width: 2px; border-color: #b1b1b1 #f3f3f3 #f3f3f3; -webkit-animation: button-spin .6s linear; animation: button-spin .6s linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.ico-srch:after { width: 10px; height: 10px; background-color: gray; }

/* button */
.btn { display: inline-block; border: 1px solid transparent; background: none; text-align: center; vertical-align: middle; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; }
.btn[disabled], .btn.btn--disabled { opacity: .4; pointer-events: none; }

a.btn { text-decoration: none; }

.btn--default { border-color: #ccc #bdbdbd #adadad; background-color: #fafafa; background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea', GradientType=0); color: #333; text-shadow: 0 1px 0 white; }
.btn--default:hover { border-color: #bfbfbf #bfbfbf #b3b3b3; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); background-color: #fff; background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%); background-image: -o-linear-gradient(top, #fff 0%, #eee 100%); background-image: linear-gradient(to bottom, #fff 0%, #eee 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0); }
.btn--default:focus { position: relative; z-index: 1; border-color: #1385e5; box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1); outline: none; }
.btn--default[aria-pressed="true"] { border-color: green; color: green; }

.btn--plain { border: none; }

.btn[disabled], .btn--disabled { pointer-events: none; background-color: #f3f3f3; }

.btn__txt { overflow: hidden; display: inline-block; text-overflow: ellipsis; vertical-align: top; }

.btn--xs { font-size: 11.2px; line-height: 21.28px; padding: 0 11.2px; }
.btn--s { font-size: 12.6px; line-height: 28.98px; padding: 0 12.6px; }
.btn--m { font-size: 14px; line-height: 2.3em; padding: 0 14px; }
.btn--l { font-size: 17.5px; line-height: 40.25px; padding: 0 17.5px; }

input[data-role="button"] { position: absolute; left: -1000em; }
input[data-role="button"]:hover + .btn { border-color: #bfbfbf #bfbfbf #b3b3b3; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); background-color: #fff; background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%); background-image: -o-linear-gradient(top, #fff 0%, #eee 100%); background-image: linear-gradient(to bottom, #fff 0%, #eee 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0); }
input[data-role="button"]:focus + .btn { position: relative; z-index: 1; border-color: #1385e5; box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1); outline: none; }
input[data-role="button"]:checked + .btn { border-color: green; color: green; }

.btn__ico-left { margin-right: 3px; }
.btn__ico-right { margin-left: 3px; }

.btns--left { float: left; }
.btns--right { float: right; }
.btns--center { text-align: center; }

.btn-group { overflow: hidden; }
.btn-group .btn--default { float: left; margin-right: -1px; }
.btn-group--justify { display: table; width: 100%; table-layout: fixed; border-collapse: seperate; }
.btn-group--justify .btn { display: table-cell; float: none; width: 1%; }

/* input */
.input { box-sizing: border-box; padding-left: 10px; padding-right: 10px; border: solid 1px #ccc; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; background-clip: padding-box; /* stops bg color from leaking outside the border: */ background-color: #fff; font-size: 14px; color: #333; vertical-align: middle; display: inline-block; padding-top: 8px; padding-bottom: 8px; }
.input::-webkit-input-placeholder { color: #e0e0e0; }
.input:focus, .input--focus { outline: 0; border-color: #85B7D9; }
.input:focus::-webkit-input-placeholder, .input--focus::-webkit-input-placeholder { color: #8e8e8e; }
.input:disabled, .input--disabled { pointer-events: none; border-color: #e9e9e9; color: #f3f3f3; background-color: #f9f9f9; }
.col .input { width: 100%; }
.input--l { font-size: 17px; }
.input--s { font-size: 12px; }

.input--error { background-color: #FFF6F6; border-color: #E0B4B4; color: #9F3A38; }
.input--error::-webkit-input-placeholder { color: #e7bdbc; }
.input--error:focus, .input--error.input--focus { border-color: #E0B4B4; }
.input--error:focus::-webkit-input-placeholder, .input--error.input--focus::-webkit-input-placeholder { color: #da9796; }

.input-field { display: inline-block; position: relative; box-sizing: border-box; }
.input-field .ico { position: absolute; top: 0; width: 40px; height: 36px; }
.input-field .ico:after { content: ''; display: inline-block; position: absolute; top: 50%; left: 50%; vertical-align: middle; }

.ico--left .input { padding-left: 40px; }
.ico--left .ico { left: 0; }

.ico--right .input { padding-right: 40px; }
.ico--right .ico { right: 0; }

.input-field .ico-srch:after { margin-top: -5px; margin-left: -5px; }
.input-field .ico-loading:after { margin-top: -9px; margin-left: -9px; }

.input-group--contiguous { overflow: hidden; }
.input-group--contiguous input { float: left; position: relative; }
.input-group--contiguous input:first-child { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.input-group--contiguous input:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.input-group--contiguous input:not(:first-child):not(:last-child) { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.input-group--contiguous input:not(:first-child) { margin-left: -1px; }
.input-group--contiguous button { float: left; }
.input-group--contiguous button:first-child { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.input-group--contiguous button:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.input-group--contiguous button:not(:first-child) { margin-left: -1px; }

/* ex */
.wrap.ex { padding: 10px 20px; color: #333; }

.ex__txt { margin-bottom: 16px; font-size: 12px; }

.block--box { margin-top: 10px; margin-bottom: 10px; margin-right: 10px; padding: 20px; border: solid 1px #ccc; -webkit-border-radius: 4.2px; -moz-border-radius: 4.2px; border-radius: 4.2px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

/*# sourceMappingURL=ex-input-ie.css.map */
