@charset "UTF-8";
/* base */
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1; }

ol, ul { margin: 0; padding: 0; list-style: none; }

li { margin: 0; padding: 0; }

img { border: 0; }

button, input, select, textarea { font-family: inherit; }

fieldset { margin: 0; padding: 0; border: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { color: #222; font-weight: 500; line-height: 1; }

h1, .h1 { font-size: 3rem; }

h2, .h2 { margin-top: 2.25rem; font-size: 2.25rem; font-weight: 300; }

h3, .h3 { font-size: 1.25rem; }

h4, .h4 { font-size: 1rem; }

h5, .h5 { font-size: 0.85rem; }
h5:first-child, .h5:first-child { margin-top: 0; }

h6, .h6 { font-size: 0.75rem; }

.blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }

/* grid */
.row { overflow: hidden; clear: both; box-sizing: border-box; }
.row .col { float: left; box-sizing: border-box; }
.row .col[class*="push-"], .row .col[class*="pull-"] { position: relative; }
.row .col.s1 { width: 8.33333%; }
.row .col.s1 { zoom: 1; }
.row .col.s1:after { content: ''; display: block; clear: both; }
.row .col.s2 { width: 16.66667%; }
.row .col.s2 { zoom: 1; }
.row .col.s2:after { content: ''; display: block; clear: both; }
.row .col.s3 { width: 25%; }
.row .col.s3 { zoom: 1; }
.row .col.s3:after { content: ''; display: block; clear: both; }
.row .col.s4 { width: 33.33333%; }
.row .col.s4 { zoom: 1; }
.row .col.s4:after { content: ''; display: block; clear: both; }
.row .col.s5 { width: 41.66667%; }
.row .col.s5 { zoom: 1; }
.row .col.s5:after { content: ''; display: block; clear: both; }
.row .col.s6 { width: 50%; }
.row .col.s6 { zoom: 1; }
.row .col.s6:after { content: ''; display: block; clear: both; }
.row .col.s7 { width: 58.33333%; }
.row .col.s7 { zoom: 1; }
.row .col.s7:after { content: ''; display: block; clear: both; }
.row .col.s8 { width: 66.66667%; }
.row .col.s8 { zoom: 1; }
.row .col.s8:after { content: ''; display: block; clear: both; }
.row .col.s9 { width: 75%; }
.row .col.s9 { zoom: 1; }
.row .col.s9:after { content: ''; display: block; clear: both; }
.row .col.s10 { width: 83.33333%; }
.row .col.s10 { zoom: 1; }
.row .col.s10:after { content: ''; display: block; clear: both; }
.row .col.s11 { width: 91.66667%; }
.row .col.s11 { zoom: 1; }
.row .col.s11:after { content: ''; display: block; clear: both; }
.row .col.s12 { width: 100%; }
.row .col.s12 { zoom: 1; }
.row .col.s12:after { content: ''; display: block; clear: both; }
.row .col.offset-s1 { margin-left: 8.33333%; }
.row .col.offset-s2 { margin-left: 16.66667%; }
.row .col.offset-s3 { margin-left: 25%; }
.row .col.offset-s4 { margin-left: 33.33333%; }
.row .col.offset-s5 { margin-left: 41.66667%; }
.row .col.offset-s6 { margin-left: 50%; }
.row .col.offset-s7 { margin-left: 58.33333%; }
.row .col.offset-s8 { margin-left: 66.66667%; }
.row .col.offset-s9 { margin-left: 75%; }
.row .col.offset-s10 { margin-left: 83.33333%; }
.row .col.offset-s11 { margin-left: 91.66667%; }
.row .col.offset-s12 { margin-left: 100%; }
.row .col.push-s1 { left: 8.33333%; }
.row .col.push-s2 { left: 16.66667%; }
.row .col.push-s3 { left: 25%; }
.row .col.push-s4 { left: 33.33333%; }
.row .col.push-s5 { left: 41.66667%; }
.row .col.push-s6 { left: 50%; }
.row .col.push-s7 { left: 58.33333%; }
.row .col.push-s8 { left: 66.66667%; }
.row .col.push-s9 { left: 75%; }
.row .col.push-s10 { left: 83.33333%; }
.row .col.push-s11 { left: 91.66667%; }
.row .col.push-s12 { left: 100%; }
.row .col.pull-s1 { right: 8.33333%; }
.row .col.pull-s2 { right: 16.66667%; }
.row .col.pull-s3 { right: 25%; }
.row .col.pull-s4 { right: 33.33333%; }
.row .col.pull-s5 { right: 41.66667%; }
.row .col.pull-s6 { right: 50%; }
.row .col.pull-s7 { right: 58.33333%; }
.row .col.pull-s8 { right: 66.66667%; }
.row .col.pull-s9 { right: 75%; }
.row .col.pull-s10 { right: 83.33333%; }
.row .col.pull-s11 { right: 91.66667%; }
.row .col.pull-s12 { right: 100%; }
@media only screen and (min-width: 601px) { .row .col.m1 { width: 8.33333%; }
  .row .col.m1 { zoom: 1; }
  .row .col.m1:after { content: ''; display: block; clear: both; }
  .row .col.m2 { width: 16.66667%; }
  .row .col.m2 { zoom: 1; }
  .row .col.m2:after { content: ''; display: block; clear: both; }
  .row .col.m3 { width: 25%; }
  .row .col.m3 { zoom: 1; }
  .row .col.m3:after { content: ''; display: block; clear: both; }
  .row .col.m4 { width: 33.33333%; }
  .row .col.m4 { zoom: 1; }
  .row .col.m4:after { content: ''; display: block; clear: both; }
  .row .col.m5 { width: 41.66667%; }
  .row .col.m5 { zoom: 1; }
  .row .col.m5:after { content: ''; display: block; clear: both; }
  .row .col.m6 { width: 50%; }
  .row .col.m6 { zoom: 1; }
  .row .col.m6:after { content: ''; display: block; clear: both; }
  .row .col.m7 { width: 58.33333%; }
  .row .col.m7 { zoom: 1; }
  .row .col.m7:after { content: ''; display: block; clear: both; }
  .row .col.m8 { width: 66.66667%; }
  .row .col.m8 { zoom: 1; }
  .row .col.m8:after { content: ''; display: block; clear: both; }
  .row .col.m9 { width: 75%; }
  .row .col.m9 { zoom: 1; }
  .row .col.m9:after { content: ''; display: block; clear: both; }
  .row .col.m10 { width: 83.33333%; }
  .row .col.m10 { zoom: 1; }
  .row .col.m10:after { content: ''; display: block; clear: both; }
  .row .col.m11 { width: 91.66667%; }
  .row .col.m11 { zoom: 1; }
  .row .col.m11:after { content: ''; display: block; clear: both; }
  .row .col.m12 { width: 100%; }
  .row .col.m12 { zoom: 1; }
  .row .col.m12:after { content: ''; display: block; clear: both; }
  .row .col.offset-m1 { margin-left: 8.33333%; }
  .row .col.offset-m2 { margin-left: 16.66667%; }
  .row .col.offset-m3 { margin-left: 25%; }
  .row .col.offset-m4 { margin-left: 33.33333%; }
  .row .col.offset-m5 { margin-left: 41.66667%; }
  .row .col.offset-m6 { margin-left: 50%; }
  .row .col.offset-m7 { margin-left: 58.33333%; }
  .row .col.offset-m8 { margin-left: 66.66667%; }
  .row .col.offset-m9 { margin-left: 75%; }
  .row .col.offset-m10 { margin-left: 83.33333%; }
  .row .col.offset-m11 { margin-left: 91.66667%; }
  .row .col.offset-m12 { margin-left: 100%; }
  .row .col.push-m1 { left: 8.33333%; }
  .row .col.push-m2 { left: 16.66667%; }
  .row .col.push-m3 { left: 25%; }
  .row .col.push-m4 { left: 33.33333%; }
  .row .col.push-m5 { left: 41.66667%; }
  .row .col.push-m6 { left: 50%; }
  .row .col.push-m7 { left: 58.33333%; }
  .row .col.push-m8 { left: 66.66667%; }
  .row .col.push-m9 { left: 75%; }
  .row .col.push-m10 { left: 83.33333%; }
  .row .col.push-m11 { left: 91.66667%; }
  .row .col.push-m12 { left: 100%; }
  .row .col.pull-m1 { right: 8.33333%; }
  .row .col.pull-m2 { right: 16.66667%; }
  .row .col.pull-m3 { right: 25%; }
  .row .col.pull-m4 { right: 33.33333%; }
  .row .col.pull-m5 { right: 41.66667%; }
  .row .col.pull-m6 { right: 50%; }
  .row .col.pull-m7 { right: 58.33333%; }
  .row .col.pull-m8 { right: 66.66667%; }
  .row .col.pull-m9 { right: 75%; }
  .row .col.pull-m10 { right: 83.33333%; }
  .row .col.pull-m11 { right: 91.66667%; }
  .row .col.pull-m12 { right: 100%; } }
@media only screen and (min-width: 993px) { .row .col.l1 { width: 8.33333%; }
  .row .col.l1 { zoom: 1; }
  .row .col.l1:after { content: ''; display: block; clear: both; }
  .row .col.l2 { width: 16.66667%; }
  .row .col.l2 { zoom: 1; }
  .row .col.l2:after { content: ''; display: block; clear: both; }
  .row .col.l3 { width: 25%; }
  .row .col.l3 { zoom: 1; }
  .row .col.l3:after { content: ''; display: block; clear: both; }
  .row .col.l4 { width: 33.33333%; }
  .row .col.l4 { zoom: 1; }
  .row .col.l4:after { content: ''; display: block; clear: both; }
  .row .col.l5 { width: 41.66667%; }
  .row .col.l5 { zoom: 1; }
  .row .col.l5:after { content: ''; display: block; clear: both; }
  .row .col.l6 { width: 50%; }
  .row .col.l6 { zoom: 1; }
  .row .col.l6:after { content: ''; display: block; clear: both; }
  .row .col.l7 { width: 58.33333%; }
  .row .col.l7 { zoom: 1; }
  .row .col.l7:after { content: ''; display: block; clear: both; }
  .row .col.l8 { width: 66.66667%; }
  .row .col.l8 { zoom: 1; }
  .row .col.l8:after { content: ''; display: block; clear: both; }
  .row .col.l9 { width: 75%; }
  .row .col.l9 { zoom: 1; }
  .row .col.l9:after { content: ''; display: block; clear: both; }
  .row .col.l10 { width: 83.33333%; }
  .row .col.l10 { zoom: 1; }
  .row .col.l10:after { content: ''; display: block; clear: both; }
  .row .col.l11 { width: 91.66667%; }
  .row .col.l11 { zoom: 1; }
  .row .col.l11:after { content: ''; display: block; clear: both; }
  .row .col.l12 { width: 100%; }
  .row .col.l12 { zoom: 1; }
  .row .col.l12:after { content: ''; display: block; clear: both; }
  .row .col.offset-l1 { margin-left: 8.33333%; }
  .row .col.offset-l2 { margin-left: 16.66667%; }
  .row .col.offset-l3 { margin-left: 25%; }
  .row .col.offset-l4 { margin-left: 33.33333%; }
  .row .col.offset-l5 { margin-left: 41.66667%; }
  .row .col.offset-l6 { margin-left: 50%; }
  .row .col.offset-l7 { margin-left: 58.33333%; }
  .row .col.offset-l8 { margin-left: 66.66667%; }
  .row .col.offset-l9 { margin-left: 75%; }
  .row .col.offset-l10 { margin-left: 83.33333%; }
  .row .col.offset-l11 { margin-left: 91.66667%; }
  .row .col.offset-l12 { margin-left: 100%; }
  .row .col.push-l1 { left: 8.33333%; }
  .row .col.push-l2 { left: 16.66667%; }
  .row .col.push-l3 { left: 25%; }
  .row .col.push-l4 { left: 33.33333%; }
  .row .col.push-l5 { left: 41.66667%; }
  .row .col.push-l6 { left: 50%; }
  .row .col.push-l7 { left: 58.33333%; }
  .row .col.push-l8 { left: 66.66667%; }
  .row .col.push-l9 { left: 75%; }
  .row .col.push-l10 { left: 83.33333%; }
  .row .col.push-l11 { left: 91.66667%; }
  .row .col.push-l12 { left: 100%; }
  .row .col.pull-l1 { right: 8.33333%; }
  .row .col.pull-l2 { right: 16.66667%; }
  .row .col.pull-l3 { right: 25%; }
  .row .col.pull-l4 { right: 33.33333%; }
  .row .col.pull-l5 { right: 41.66667%; }
  .row .col.pull-l6 { right: 50%; }
  .row .col.pull-l7 { right: 58.33333%; }
  .row .col.pull-l8 { right: 66.66667%; }
  .row .col.pull-l9 { right: 75%; }
  .row .col.pull-l10 { right: 83.33333%; }
  .row .col.pull-l11 { right: 91.66667%; }
  .row .col.pull-l12 { right: 100%; } }

/* wireFrame */
/* wireFrame : block */
.wire--block { box-sizing: border-box; border: solid 1px #ddd; -webkit-border-radius: 0.1875rem; -moz-border-radius: 0.1875rem; border-radius: 0.1875rem; background-clip: padding-box; margin-top: 0.625rem; }

/* wireFrame : wrap */
.wrap { position: relative; min-width: 20rem; max-width: 58.75rem; margin: 0 auto; padding: 0.625rem 0.625rem 1.25rem; box-sizing: border-box; background-color: #fff; }

.header, .container, .footer { zoom: 1; }
.header:after, .container:after, .footer:after { content: ''; display: block; clear: both; }

/* wireFrame : header */
.header { height: 2.5rem; }
@media only screen and (min-width: 601px) { .header { height: 5rem; } }

.header-logo { text-align: center; }
.header-logo .ico__logo { display: inline-block; margin: 0; padding: 0.625rem 0; font-size: 1.5625rem; color: #111; }
@media only screen and (min-width: 601px) { .header-logo { float: left; }
  .header-logo .ico__logo { display: block; } }

/* wireFrame : header > gnb */
.gnb { display: none; position: absolute; right: 0; }
@media only screen and (min-width: 601px) { .gnb { display: block; } }

.gnb-lst { overflow: hidden; }

.gnb-item { float: left; margin: 0 0.3125rem; }

.gnb__a { display: block; padding: 0.625rem; text-decoration: none; font-size: 0.875rem; color: #666; }
.gnb__a:hover { text-decoration: underline; }

/* wireFrame : header > lnb */
.lnb { display: none; position: absolute; top: 3.125rem; left: 0.625rem; right: 0.625rem; }
@media only screen and (min-width: 601px) { .lnb { display: block; } }

.lnb-lst { overflow: hidden; margin: 0; padding: 0; }

.lnb-item { float: left; width: 20%; }

.lnb__a { display: block; padding: 0.4375rem 0.3125rem 0.5rem; box-sizing: border-box; text-align: center; color: #666; text-decoration: none; }
.lnb[data-current='0'] .lnb-item[data-idx='0'] .lnb__a { border-left: solid 1px #ddd; border-right: solid 1px #ddd; background-color: #fffadc; }
.lnb[data-current='1'] .lnb-item[data-idx='1'] .lnb__a { border-left: solid 1px #ddd; border-right: solid 1px #ddd; background-color: #fffadc; }
.lnb[data-current='2'] .lnb-item[data-idx='2'] .lnb__a { border-left: solid 1px #ddd; border-right: solid 1px #ddd; background-color: #fffadc; }
.lnb[data-current='3'] .lnb-item[data-idx='3'] .lnb__a { border-left: solid 1px #ddd; border-right: solid 1px #ddd; background-color: #fffadc; }
.lnb[data-current='4'] .lnb-item[data-idx='4'] .lnb__a { border-left: solid 1px #ddd; border-right: solid 1px #ddd; background-color: #fffadc; }
.lnb[data-current="0"] .lnb-item[data-idx="0"] .lnb__a { border-left-color: #fffadc; }
.lnb[data-current="4"] .lnb-item[data-idx="4"] .lnb__a { border-right-color: #fffadc; }

.lnb-panel { display: none; overflow: hidden; border-top: solid 1px #ddd; background-color: #fffadc; }
.lnb[data-current='0'] .lnb-panel { display: block; }
.lnb[data-current='1'] .lnb-panel { display: block; }
.lnb[data-current='2'] .lnb-panel { display: block; }
.lnb[data-current='3'] .lnb-panel { display: block; }
.lnb[data-current='4'] .lnb-panel { display: block; }

.lnb-panel-lst { float: left; width: 20%; padding: 0.625rem 0; box-sizing: border-box; }

.lnb-panel__a { display: block; padding-left: 1.25rem; text-decoration: none; font-size: 0.875rem; color: #666; line-height: 1.5; }
.lnb-panel__a:hover { text-decoration: underline; }

.lnb__btn-clse { float: right; margin-right: 0.625rem; margin-bottom: 0.625rem; cursor: pointer; }

/* wireFrame : side > side */
.side__btn { position: absolute; top: 0.625rem; left: 0.625rem; width: 3.75rem; height: 1.875rem; background-color: #fff; text-align: center; font-size: 11px; }
@media only screen and (min-width: 601px) { .side__btn { display: none; } }

.side { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 10000; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
.side[data-visible='true'] { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
@media only screen and (min-width: 601px) { .side { display: none; } }

.side-dimm { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 9999; background-color: #000; opacity: 0.7; }

.side-cnts { position: absolute; top: 0; left: 0; right: 30%; bottom: 0; z-index: 9999; background-color: #fff; }

/* wireFrame : container */
.container { clear: both; }

/* wireFrame : thumb */
.thumb-item { box-sizing: border-box; padding: 0.625rem; }

.thumb__a { display: block; text-decoration: none; font-size: 0.75rem; color: #666; }
.thumb__a:hover { text-decoration: underline; }

.thumb__img { margin-bottom: 0.5rem; background-color: #f1f1f1; }

.thumb__txt { line-height: 1.2; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; }

/* wireFrame : main > wire-space */
@media only screen and (min-width: 601px) { .page-main .column-1 .wire--block { margin-right: 0.625rem; } }
.page-main .newsFlash, .page-main .news, .page-main .auth, .page-main .today, .page-main .themeCast, .page-main .shoppingCast, .page-main .footer { padding: 0.625rem; }
.page-main .promotion, .page-main .ad, .page-main .auth, .page-main .columnBa { background-color: #f1f1f1; }

/* wireFrame : main > contetns */
.page-main .contents-1, .page-main .contents-2, .page-main .contents-3 { zoom: 1; }
.page-main .contents-1:after, .page-main .contents-2:after, .page-main .contents-3:after { content: ''; display: block; clear: both; }
.page-main .promotion { height: 9.375rem; }
.page-main .promotion p { margin: 0; line-height: 9.375rem; text-align: center; color: #666; }
.page-main .h3 { margin: 0 0 0.3125rem; font-size: 0.875rem; color: #333; }
.page-main .newsFlash { padding-top: 0.75rem; font-size: 0.75rem; color: #666; }
.page-main .newsFlash__a-title, .page-main .newsFlash__a { text-decoration: none; font-size: 0.75rem; color: #666; }
.page-main .newsFlash__a-title:hover, .page-main .newsFlash__a:hover { text-decoration: underline; }
.page-main .newsFlash__a { margin-left: 0.3125rem; }
.page-main .news-lst { margin: 0; padding: 0.1875rem 0; }
.page-main .news-item { overflow: hidden; position: relative; line-height: 1.3125rem; }
.page-main .news-item:before { content: '∙'; position: absolute; top: -1px; }
.page-main .news__a { display: block; margin-left: 0.75rem; text-decoration: none; font-size: 0.75rem; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.page-main .news__a:hover { text-decoration: underline; }
.page-main .auth { display: none; }
@media only screen and (min-width: 601px) { .page-main .auth { display: block; } }
.page-main .auth legend { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; }
.page-main .auth-save { margin-bottom: 0.3125rem; }
.page-main .auth-save__label { font-size: 11px; color: #666; }
.page-main .auth__input-id, .page-main .auth__input-pass { width: 100%; height: 1.625rem; box-sizing: border-box; padding-left: 0.3125rem; }
.page-main .auth__input-pass { margin-top: -1px; }
.page-main .auth__btn-login { height: 3.1875rem; background-color: #fff; border: solid 1px #dfdfdf; border-left: none; cursor: pointer; }
.page-main .auth-menu { margin-top: 0.625rem; font-size: 11px; color: #666; }
.page-main .auth-menu__a { text-decoration: none; font-size: 0.6875rem; color: #666; }
.page-main .auth-menu__a:hover { text-decoration: underline; }
.page-main .auth-menu__a.a-join { margin-right: 1rem; }
.page-main .today { position: relative; }
.page-main .today-top { position: absolute; right: 0.625rem; top: 0.625rem; }
.page-main .today-top .today__date { display: inline-block; margin-right: 0.3125rem; font-size: 11px; color: #666; }
.page-main .today-top .today-next__a { display: inline-block; text-decoration: none; font-size: 0.6875rem; color: #666; }
.page-main .today-top .today-next__a:hover { text-decoration: underline; }
.page-main .today-panel { height: 4.8125rem; }
.page-main .today-panel-item { display: none; }
.page-main .today-panel-item div { text-align: center; font-size: 0.75rem; color: #666; line-height: 4.8125rem; }
.page-main .today[data-current='0'] .today-panel-item[data-idx='0'] { display: block; }
.page-main .today[data-current='1'] .today-panel-item[data-idx='1'] { display: block; }
.page-main .today[data-current='2'] .today-panel-item[data-idx='2'] { display: block; }
.page-main .today-lst { padding-top: 0.3125rem; font-size: 0.75rem; line-height: 1.5; }
.page-main .today-item { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.page-main .today__a-tit { display: inline-block; margin-right: 0.3125rem; font-weight: bold; text-decoration: none; font-size: 0.75rem; color: #666; }
.page-main .today__a-tit:hover { text-decoration: underline; }
.page-main .today__a { text-decoration: none; font-size: 0.75rem; color: #666; }
.page-main .today__a:hover { text-decoration: underline; }
.page-main .today__a:not(:last-child):after { content: ''; display: inline-block; width: 1px; height: 0.625rem; margin-left: 0.5rem; margin-right: 0.3125rem; background-color: #ccc; }
.page-main .today-ctrl { margin-top: 0.3125rem; text-align: right; }
.page-main .today__page { display: inline-block; margin-right: 0.3125rem; font-size: 0.75rem; color: #666; }
.page-main .today__page-current { display: inline-block; }
.page-main .today__page-total { display: inline-block; }
.page-main .today__btn-prev { display: inline-block; }
.page-main .today__btn-next { display: inline-block; }
.page-main .ad { display: table; width: 100%; height: 6.125rem; }
.page-main .ad__img { display: table-cell; text-align: center; vertical-align: middle; color: #666; }
@media only screen and (min-width: 601px) { .page-main .contents-2 .themeCast, .page-main .contents-2 .shoppingCast { min-height: 25.25rem; } }
.page-main .themeCast-tab { overflow: hidden; }
.page-main .themeCast-item { float: left; width: 16.666666%; box-sizing: border-box; border-style: solid; border-width: 1px 0; border-color: transparent transparent #ccc; background-color: #f1f1f1; }
.page-main .themeCast[data-current="0"] .themeCast-item[data-idx="0"] { border-left-width: 1px; border-right-width: 1px; border-color: #ccc #ccc transparent; background-color: #fff; }
.page-main .themeCast[data-current="1"] .themeCast-item[data-idx="1"] { border-left-width: 1px; border-right-width: 1px; border-color: #ccc #ccc transparent; background-color: #fff; }
.page-main .themeCast[data-current="2"] .themeCast-item[data-idx="2"] { border-left-width: 1px; border-right-width: 1px; border-color: #ccc #ccc transparent; background-color: #fff; }
.page-main .themeCast[data-current="3"] .themeCast-item[data-idx="3"] { border-left-width: 1px; border-right-width: 1px; border-color: #ccc #ccc transparent; background-color: #fff; }
.page-main .themeCast[data-current="4"] .themeCast-item[data-idx="4"] { border-left-width: 1px; border-right-width: 1px; border-color: #ccc #ccc transparent; background-color: #fff; }
.page-main .themeCast[data-current="5"] .themeCast-item[data-idx="5"] { border-left-width: 1px; border-right-width: 1px; border-color: #ccc #ccc transparent; background-color: #fff; }
.page-main .themeCast-item__a { display: block; height: 2.25rem; line-height: 2.25rem; text-align: center; text-decoration: none; font-size: 0.75rem; color: #666; }
.page-main .themeCast-item__a:hover { text-decoration: underline; }
.page-main .themeCast-panel { margin-top: 0.9375rem; }
.page-main .themeCast-panel .h3 { margin-left: 0.625rem; }
.page-main .themeCast-panel .thumb__img { height: 6.25rem; }
.page-main .themeCast-panel-item { display: none; }
.page-main .themeCast[data-current="0"] .themeCast-panel-item[data-idx="0"] { display: block; }
.page-main .themeCast[data-current="1"] .themeCast-panel-item[data-idx="1"] { display: block; }
.page-main .themeCast[data-current="2"] .themeCast-panel-item[data-idx="2"] { display: block; }
.page-main .themeCast[data-current="3"] .themeCast-panel-item[data-idx="3"] { display: block; }
.page-main .themeCast[data-current="4"] .themeCast-panel-item[data-idx="4"] { display: block; }
.page-main .themeCast[data-current="5"] .themeCast-panel-item[data-idx="5"] { display: block; }
.page-main .shoppingCast .thumb__img { height: 7.5rem; }
.page-main .columnBa-lst { overflow: hidden; }
.page-main .columnBa-item { float: left; width: 33.33333333%; box-sizing: border-box; }
.page-main .columnBa-item:not(:first-child) { border-left: solid 1px #ddd; }
.page-main .columnBa__a { display: block; height: 6.25rem; line-height: 6.25rem; vertical-align: middle; text-align: center; text-decoration: none; font-size: 0.75rem; color: #666; }
.page-main .columnBa__a:hover { text-decoration: underline; }
.page-main .footer { text-align: center; }
.page-main .footer-lst { overflow: hidden; display: inline-block; margin-top: 0.3125rem; }
.page-main .footer-item { float: left; width: 33.333333%; }
@media only screen and (min-width: 601px) { .page-main .footer-item { width: auto; } }
.page-main .footer__a { display: block; padding: 0.3125rem 0.625rem; text-decoration: none; font-size: 0.75rem; color: #666; }
.page-main .footer__a:hover { text-decoration: underline; }

/*# sourceMappingURL=ex-wireFrame.css.map */
