@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* base */
legend, .blind { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font: 0/0 serif; }

/* grid.style.begin */
.row { overflow: hidden; clear: both; box-sizing: border-box; }
.row .col { float: left; box-sizing: border-box; }
.row .col.s1 { width: 8.33333%; }
.row .col.s2 { width: 16.66667%; }
.row .col.s3 { width: 25%; }
.row .col.s4 { width: 33.33333%; }
.row .col.s5 { width: 41.66667%; }
.row .col.s6 { width: 50%; }
.row .col.s7 { width: 58.33333%; }
.row .col.s8 { width: 66.66667%; }
.row .col.s9 { width: 75%; }
.row .col.s10 { width: 83.33333%; }
.row .col.s11 { width: 91.66667%; }
.row .col.s12 { width: 100%; }
@media only screen and (min-width: 601px) { .row .col.m1 { width: 8.33333%; }
  .row .col.m2 { width: 16.66667%; }
  .row .col.m3 { width: 25%; }
  .row .col.m4 { width: 33.33333%; }
  .row .col.m5 { width: 41.66667%; }
  .row .col.m6 { width: 50%; }
  .row .col.m7 { width: 58.33333%; }
  .row .col.m8 { width: 66.66667%; }
  .row .col.m9 { width: 75%; }
  .row .col.m10 { width: 83.33333%; }
  .row .col.m11 { width: 91.66667%; }
  .row .col.m12 { width: 100%; } }
@media only screen and (min-width: 993px) { .row .col.l1 { width: 8.33333%; }
  .row .col.l2 { width: 16.66667%; }
  .row .col.l3 { width: 25%; }
  .row .col.l4 { width: 33.33333%; }
  .row .col.l5 { width: 41.66667%; }
  .row .col.l6 { width: 50%; }
  .row .col.l7 { width: 58.33333%; }
  .row .col.l8 { width: 66.66667%; }
  .row .col.l9 { width: 75%; }
  .row .col.l10 { width: 83.33333%; }
  .row .col.l11 { width: 91.66667%; }
  .row .col.l12 { width: 100%; } }

/* wireFrame.style.begin */
.wire--block { box-sizing: border-box; border: solid 1px #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ margin-top: 10px; }

/* wrap */
.wrap { min-width: 320px; max-width: 940px; margin: 0 auto; padding: 10px 10px 20px; box-sizing: border-box; background-color: #fff; }

.header:after, .container:after, .footer:after { content: ""; display: table; clear: both; }

/* header */
.header { height: 80px; }

.header-logo { float: left; }
.header-logo .ico__logo { margin: 0; padding: 10px 0; font-size: 25px; color: #111; }

/* header > gnb */
.gnb { position: absolute; right: 0; }

.gnb-lst { overflow: hidden; }

.gnb-item { float: left; margin: 0 5px; }

.gnb__a { display: block; padding: 10px; text-decoration: none; font-size: 14px; color: #666; }
.gnb__a:hover { text-decoration: underline; }

/* header > lnb */
.lnb { position: absolute; top: 50px; left: 10px; right: 10px; }

.lnb-lst { overflow: hidden; margin: 0; padding: 0; }

.lnb-item { float: left; width: 20%; }

.lnb__a { display: block; padding: 10px 5px 5px; box-sizing: border-box; text-align: center; color: #666; text-decoration: none; }
.lnb[data-active="0"] .lnb-item[data-idx="0"] .lnb__a, .lnb[data-active="1"] .lnb-item[data-idx="1"] .lnb__a, .lnb[data-active="2"] .lnb-item[data-idx="2"] .lnb__a, .lnb[data-active="3"] .lnb-item[data-idx="3"] .lnb__a, .lnb[data-active="4"] .lnb-item[data-idx="4"] .lnb__a { border-left: solid 1px #ddd; border-right: solid 1px #ddd; background-color: #f1f1f1; }
.lnb[data-active="0"] .lnb-item[data-idx="0"] .lnb__a { border-left-color: #f1f1f1; }
.lnb[data-active="4"] .lnb-item[data-idx="4"] .lnb__a { border-right-color: #f1f1f1; }

.lnb-item-lst { display: none; position: absolute; z-index: 100; width: 20%; padding: 10px 0; box-sizing: border-box; border: solid 1px #ddd; background-color: #f1f1f1; /* &[data-visible="true"] { display: block;
} */ }
.lnb[data-active="0"] .lnb-item[data-idx="0"] .lnb-item-lst, .lnb[data-active="1"] .lnb-item[data-idx="1"] .lnb-item-lst, .lnb[data-active="2"] .lnb-item[data-idx="2"] .lnb-item-lst, .lnb[data-active="3"] .lnb-item[data-idx="3"] .lnb-item-lst, .lnb[data-active="4"] .lnb-item[data-idx="4"] .lnb-item-lst { display: block; }

.lnb-item__a { display: block; padding-left: 20px; text-decoration: none; font-size: 14px; color: #666; line-height: 1.5; }
.lnb-item__a:hover { text-decoration: underline; }

/* container */
.container { clear: both; }

/* thumb */
.thumb-item { box-sizing: border-box; padding: 10px; }

.thumb__a { display: block; text-decoration: none; font-size: 12px; color: #666; }
.thumb__a:hover { text-decoration: underline; }

.thumb__img { margin-bottom: 8px; background-color: #f1f1f1; }

.thumb__txt { line-height: 1.2; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap: break-word; }

/* main > wire-space */
@media only screen and (min-width: 601px) { .page-main .column-1 .wire--block { margin-right: 10px; } }
.page-main .newsFlash, .page-main .news, .page-main .auth, .page-main .today, .page-main .themeCast, .page-main .shoppingCast, .page-main .footer { padding: 10px; }
.page-main .promotion, .page-main .ad, .page-main .auth, .page-main .columnBa { background-color: #f1f1f1; }

/* main > contetns */
.page-main .contents-1:after, .page-main .contents-2:after, .page-main .contents-3:after { content: ""; display: table; clear: both; }
.page-main .promotion { height: 150px; }
.page-main .promotion p { margin: 0; line-height: 150px; text-align: center; color: #666; }
.page-main .h3 { margin: 0 0 5px; font-size: 14px; color: #333; }
.page-main .newsFlash { padding-top: 12px; font-size: 12px; color: #666; }
.page-main .newsFlash__a-title, .page-main .newsFlash__a { text-decoration: none; font-size: 12px; color: #666; }
.page-main .newsFlash__a-title:hover, .page-main .newsFlash__a:hover { text-decoration: underline; }
.page-main .newsFlash__a { margin-left: 5px; }
.page-main .news-lst { margin: 0; padding: 3px 0; }
.page-main .news-item { overflow: hidden; position: relative; line-height: 21px; }
.page-main .news-item:before { content: '∙'; position: absolute; top: -1px; }
.page-main .news__a { display: block; margin-left: 12px; text-decoration: none; font-size: 12px; color: #666; }
.page-main .news__a:hover { text-decoration: underline; }
.page-main .auth-save { margin-bottom: 5px; }
.page-main .auth-save__label { font-size: 11px; color: #666; }
.page-main .auth__input-id, .page-main .auth__input-pass { width: 100%; height: 26px; box-sizing: border-box; padding-left: 5px; }
.page-main .auth__input-pass { margin-top: -1px; }
.page-main .auth__btn-login { height: 51px; background-color: #fff; border: solid 1px #dfdfdf; border-left: none; cursor: pointer; }
.page-main .auth-menu { margin-top: 10px; font-size: 11px; color: #666; }
.page-main .auth-menu__a { text-decoration: none; font-size: 11px; color: #666; }
.page-main .auth-menu__a:hover { text-decoration: underline; }
.page-main .auth-menu__a.a-join { margin-right: 16px; }
.page-main .today { position: relative; }
.page-main .today-top { position: absolute; right: 10px; top: 10px; }
.page-main .today-top .today__date { display: inline-block; margin-right: 5px; font-size: 11px; color: #666; }
.page-main .today-top .today-next__a { display: inline-block; text-decoration: none; font-size: 11px; color: #666; }
.page-main .today-top .today-next__a:hover { text-decoration: underline; }
.page-main .today-lst { padding-top: 5px; font-size: 12px; line-height: 1.5; }
.page-main .today-item { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.page-main .today__a-title { display: inline-block; margin-right: 5px; font-weight: bold; text-decoration: none; font-size: 12px; color: #666; }
.page-main .today__a-title:hover { text-decoration: underline; }
.page-main .today__a { text-decoration: none; font-size: 12px; color: #666; }
.page-main .today__a:hover { text-decoration: underline; }
.page-main .today__a:not(:last-child):after { content: ''; display: inline-block; width: 1px; height: 10px; margin-left: 8px; margin-right: 5px; background-color: #ccc; }
.page-main .today-ctrl { margin-top: 5px; text-align: right; }
.page-main .today__page { display: inline-block; margin-right: 5px; font-size: 12px; color: #666; }
.page-main .today__page-current { display: inline-block; }
.page-main .today__page-total { display: inline-block; }
.page-main .today__btn-prev { display: inline-block; }
.page-main .today__btn-next { display: inline-block; }
.page-main .ad { display: table; width: 100%; height: 100px; }
.page-main .ad__img { display: table-cell; text-align: center; vertical-align: middle; color: #666; }
@media only screen and (min-width: 601px) { .page-main .contents-2 .themeCast, .page-main .contents-2 .shoppingCast { min-height: 404px; } }
.page-main .themeCast-tab { overflow: hidden; }
.page-main .themeCast-item { float: left; width: 16.666666%; border-bottom: solid 1px #ccc; box-sizing: border-box; background-color: #f1f1f1; }
.page-main .themeCast-item__a { display: block; height: 36px; line-height: 36px; text-align: center; text-decoration: none; font-size: 12px; color: #666; }
.page-main .themeCast-item__a:hover { text-decoration: underline; }
.page-main .themeCast[data-current="4"] .themeCast-item[data-idx="4"] { border: solid 1px #ccc; border-bottom: none; background-color: #fff; }
.page-main .themeCast-panel { margin-top: 15px; }
.page-main .themeCast-panel .h3 { margin-left: 10px; }
.page-main .themeCast-panel .thumb__img { height: 100px; }
.page-main .shoppingCast .thumb__img { height: 120px; }
.page-main .columnBa-lst { overflow: hidden; }
.page-main .columnBa-item { float: left; width: 33.33333333%; box-sizing: border-box; }
.page-main .columnBa-item:not(:first-child) { border-left: solid 1px #ddd; }
.page-main .columnBa__a { display: block; height: 100px; line-height: 100px; vertical-align: middle; text-align: center; text-decoration: none; font-size: 12px; color: #666; }
.page-main .columnBa__a:hover { text-decoration: underline; }
.page-main .footer { text-align: center; }
.page-main .footer-lst { overflow: hidden; display: inline-block; margin-top: 5px; }
.page-main .footer-item { float: left; }
.page-main .footer__a { display: block; padding: 5px 10px; text-decoration: none; font-size: 12px; color: #666; }
.page-main .footer__a:hover { text-decoration: underline; }

/*# sourceMappingURL=exam-wireFrame-ie.css.map */
