/* font */
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; -moz-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* blocks/button.style.begin */
.btn { display: inline-block; border: 1px solid transparent; background: none; text-align: center; vertical-align: middle; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; }

.btn--theme-default { min-height: 1em; padding: 0; border-color: #e8e5e5; background-color: #fff; vertical-align: baseline; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; color: #000; -webkit-tab-highlight-color: transparent; }
.btn--theme-default:hover { background-color: #f1f1f1; }
.btn--theme-default:focus { background-color: #f2f2f2; border-color: #bbb; outline: 0; }
.btn--theme-default[aria-pressed="true"] { background-color: yellow; border-color: orange; }

.btn-view-plain { border: none; }

.btn[disabled], .btn--disabled { pointer-events: none; background-color: #ebebeb; color: #aaa; }

.btn__txt { overflow: hidden; display: inline-block; text-overflow: ellipsis; vertical-align: top; }

.btn--size-s { font-size: 0.8125rem; line-height: 1.5rem; }
.btn--size-s .btn__txt { margin: 0 0.625rem; }

.btn--size-m { font-size: 0.8125rem; line-height: 2em; }
.btn--size-m .btn__txt { margin: 0 0.8125rem; }

.btn--size-l { font-size: 0.9375rem; line-height: 2rem; }
.btn--size-l .btn__txt { margin: 0 0.9375rem; }

.btn--size-xl { font-size: 1.125rem; line-height: 2.375rem; }
.btn--size-xl .btn__txt { margin: 0 1.125rem; }

.btn--type-link { text-decoration: none; }

input[data-role="button-toggle"] { position: absolute; left: -1000em; }

input[data-role="button-toggle"]:hover + .btn { background-color: #f1f1f1; }

input[data-role="button-toggle"]:focus + .btn { background-color: #f2f2f2; border-color: #bbb; outline: 0; }

input[data-role="button-toggle"]:checked + .btn { background-color: yellow; border-color: orange; }

.btn__icon-left { margin-left: 0.8125rem; margin-right: -0.625rem; }

.btn__icon-right { margin-right: 0.8125rem; margin-left: -0.625rem; }

.btn-group--pos-left { float: left; }

.btn-group--pos-right { float: right; }

.btn-group--pos-center { text-align: center; }

.btn-group-radio { overflow: hidden; }
.btn-group-radio .btn--theme-default { float: left; margin-right: -1px; }
.btn-group-radio .btn--theme-default:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group-radio .btn--theme-default:focus, .btn-group-radio input[data-role="button-toggle"]:focus + .btn--theme-default { position: relative; z-index: 1; }

.btn { -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; border-radius: 0.3em; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

.btn-group-radio .btn--theme-default:not(:nth-of-type(1)):not(:last-child) { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.btn-group-radio .btn--theme-default:nth-of-type(1) { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.btn-group-radio .btn--theme-default:last-child { -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

.code-example__h3 { margin-top: 32px; margin-bottom: 0; padding: 8px; background-color: #f1f1f1; }

.code-example__h4 { margin-top: 8px; margin-bottom: 0; padding-top: 16px; border-bottom: solid 1px #ccc; }

.code-example-row { overflow: hidden; clear: both; padding: 8px; }

.code-example__txt { font-size: 12px; color: #777; line-height: 32px; }

/*# sourceMappingURL=page-button.css.map */
