/* ex */

// mixin
@mixin block--box {
    margin-top:rem(10); margin-bottom: rem(10); 
    margin-right: rem(10);
    padding : rem(20);
    border : solid 1px #ccc;
    @include border-radius( 4.2px );
}


// contents
.wrap.ex {
    padding:rem(10) rem(20);
    color: #333;
}
.ex__txt {
    margin-bottom: rem(16);
    font-size: rem(12);
}
.block--box {
    @include block--box;
}

