/* ex */

// mixin
@mixin block--box {
    margin-top:rem(10); margin-bottom: rem(10); 
    margin-right: rem(10);
    padding : rem(20);
    border : solid 1px #ccc;
    @include border-radius( 4.2px );
}


// contents
.wrap.ex {
    padding:rem(20);
    color: #333;
}
.ex__txt {
    margin-top: 0; margin-bottom: rem(14);
    font-size: rem(14); color: #333; line-height: 1.4;
}
.block--box {
    @include block--box;
}

