/* base */

// reset
body {
	margin: 0;
}
ol, ul {
	margin:0; padding:0;
	list-style: none;
}
li {
	margin:0; padding:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset {
	margin:0; padding:0;
	border:none;
}

// font
$font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
body {
	font-family: $font-family; 
	line-height: 1;
}

// blind
.blind {
	@include blind;
}

// media query
$media-m : "only screen and ( min-width : 601px )";
$media-l : "only screen and ( min-width : 993px )";