/* base */

// font
$font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;

// reset
body, html {
   
}
body {
	margin: 0;
	font-family: $font-family; line-height: 1;
}
ol, ul {
	margin:0; padding:0;
	list-style: none;
}
li {
	margin:0; padding:0;
}
img {
	border:0;
}

button, input, select, textarea {
    // color: inherit;
    font-family: inherit;
    // margin: 0;
}
// button, input[type=button], input[type=reset],input[type=submit] {
//     -webkit-appearance: button;
//     cursor: pointer;
// }
// input[type="checkbox"],
// input[type="radio"] {
//   box-sizing: border-box;
//   padding: 0;
// }

fieldset {
    margin:0; padding:0;
    border:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

// td,th {
//     padding: 0
// }


// h
.h {
   &1, &2, &3, &4, &5, &6 {
       margin-top: 2em; margin-bottom: 1em;
       color:#222; font-weight: 500; 
       line-height: 1;
   } 
   &1 {
        margin-top: 0;
        font-size: rem(42);
   }
   &2 {
       font-size: rem(24); 
   }
   &3 {
       font-size : rem(17.5);
   }
   &4 {
       font-size: rem(14);
   }
   &5 {
       font-size: rem(12);
   }
   &6 {
       font-size: rem(11);
   }
}

// blind
.blind {
	@include blind;
}

// Variable
$outline-color : #85b7d9;

// media query
$media-m : "only screen and ( min-width : 601px )";
$media-l : "only screen and ( min-width : 993px )";