/* base */

// font
$font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;

// reset
body, html {
    height: 100%
}
body {
	margin: 0;
	font-family: $font-family; line-height: 1;
}
ol, ul {
	margin:0; padding:0;
	list-style: none;
}
li {
	margin:0; padding:0;
}
img {
	border:0;
}

button, input, optgroup, select, textarea {
    // color: inherit;
    font-family: inherit;
    // margin: 0;
}
/* button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
} */


fieldset {
    margin:0; padding:0;
    border:none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* td,th {
    padding: 0
} */

// h
h1, h2, h3, h4, h5, h6 {
    margin-top: 0; margin-bottom: rem(18);
    color:#222; font-weight: 500; 
    line-height: 1;
}
h1, .h1 {
    font-size: rem(48);
}
h2, .h2 {
    margin-top: rem(36);
    font-size: rem(36); font-weight: 300;
}
h3, .h3 {
    font-size : rem(20);
}
h4, .h4 {
    font-size: rem(16);
}
h5, .h5 {
    font-size: rem(13.6);
}
h6, .h6 {
    font-size: rem(12);
}

// blind
.blind {
	@include blind;
}

// media query
$media-m : "only screen and ( min-width : 601px )";
$media-l : "only screen and ( min-width : 993px )";