/* ex */

.ex {
    padding:rem(10) rem(20);
}
.ex__h2 {
    margin-top: rem(40); margin-bottom : rem(30);
}
.ex__h3 {
    margin-top:32px; margin-bottom: 0;
    padding :8px;
    background-color: #f1f1f1;
}
.ex__h4 {
    margin-top: 8px; margin-bottom: 0;
    padding-top : 16px;
    border-bottom : solid 1px #ccc;
}
.ex-row {
    overflow: hidden;
    clear: both;
    padding : 8px;
}
.ex__txt {
    font-size: 12px; color:#777;
    line-height: 32px;
}

/* ex-gird */
.ex-grid {
    .col {
        height : 50px;
        border: solid 1px #fff;
        background-color: #f1f1f1;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
    }
}
.ex-grid-prefix {
    margin:0; padding :0;
    font-size: 14px;
    li {
        border-bottom: solid 1px #f3f3f3;
    }
    dt {
      display: inline-block;
      width : 40%;
    }
    dd {
        display: inline-block;
        border-bottom: solid 1px #fefefe;
    }
}
.col.ex-grid__1 {
    height: 200px;
    div {
        margin : 10px;
    }
    p {
        height: 30px;
        margin : 10px;
        font-size: 12px; line-height: 30px;
        background-color:  #cad7de;
    }
} 
.col.ex-grid__2 {
    height: 200px;
    div {
        margin : 10px;
    }
    p {
        height: 30px;
        margin : 10px;
        font-size: 12px; line-height: 30px;
        background-color:  #8cccc6;
    }
} 