/* form */

// mixin
@mixin form--default {
	.form-field__label {
		display: block;
		margin-bottom: rem(5);
		line-height: 1.4;
	}
	.input {
		width: 100%;
	}
}

// form layout
.form {
	.form-field {
		position: relative;
		margin-bottom: rem(10);
	}
	.form-field__label {
		font-size: rem(12); font-weight: 500; color:#777;
	}

}
.form--default {
	@include form--default;
	.row {
		@media #{$media-m}{
			margin-left: rem(-5); margin-right: rem(-5);
			.col.form-field {
				margin-top: inherit;
				padding-left: rem(5); padding-right: rem(5);
			}
		}
	}
	
}
.form--horizontal {
	.form-field {
		overflow: hidden;
		&--offset {
			margin-left: 30%;
		}
	}
	.form-field__label {
		float: left;
		width: 30%;
		line-height: rem(34);
	}
	.input {
		width: 70%;
	}
}
.form--inline {
	@include form--default;
	@media #{$media-m} {
		.form-field {
			display: inline-block;
			margin-right:rem(10); margin-bottom: 0;
			.form-field__label {
				@include blind;
			}
		}
	}
}
.form-note {
	margin-top: rem(6); margin-bottom: rem(6);
	font-size: rem(12); color:#777;
	line-height: 1.4;
}

.legend {
	margin-bottom: rem(10);
}
