/* form */

// mixin
@mixin form--default {
	.form-field__label {
		display: block;
		margin-bottom: rem(5);
		line-height: 1.4;
	}
	.input {
		width: 100%;
	}
}

// form layout
.form {
	.form-field {
		position: relative;
		&:not(:first-child) {
			margin-top: rem(16);
		}
	}
	.form-field__label {
		font-size: rem(12); font-weight: 500; color:#777;
	}
}
.form--default {
	@include form--default;
}
.form--horizontal {
	.form-field {
		overflow: hidden;
		// margin-bottom: rem(16);
		&--offset {
			margin-left: 30%;
		}
	}
	.form-field__label {
		float: left;
		width: 30%;
		line-height: rem(34);
	}
	.input {
		width: 70%;
	}
}
.form--inline {
	@include form--default;
	@media #{$media-m} {
		.form-field {
			display: inline-block;
			margin-right:rem(10); margin-bottom: 0;
			.form-field__label {
				@include blind;
			}
		}
	}
}
.form-note {
	margin-top: rem(6); margin-bottom: rem(6);
	font-size: rem(12); color:#777;
	line-height: 1.4;
}


