/* grid.style.begin */

@mixin grid-width($prefix){
    @for $i from 1 through 12 {
        $val : 12/$i;
        #{$prefix}#{$i} {
            width : 100%/$val;
        }
    } 
}

.row {
    overflow: hidden;
    clear : both;
    box-sizing : border-box;
    .col {
        float: left;
        box-sizing : border-box;
        @include grid-width('&.s');

        @media #{$media-m} {
            @include grid-width('&.m');
        }

         @media #{$media-l} {
            @include grid-width('&.l');
        }
    }
}



