/* ico */
@-webkit-keyframes button-spin {
    from {
        @include transform(rotate(0));
    }

    to {
        @include transform(rotate(360deg));
    }
}

@keyframes button-spin {
    from {
        @include transform(rotate(0));
    }

    to {
        @include transform(rotate(360deg));
    }
}

.ico {
    display: inline-block;
    
    &:not(button) {
       pointer-events : none; 
    }

}

.ico-arr-prev,
.ico-arr-next {
    width: rem(10); height: rem(10);
    background-color: green;
}
.ico-loading {
    &:after {
        width : rem(14); height:rem(14);
        @include border-radius(rem(500) );
        border-style: solid; border-width: 2px; border-color : #b1b1b1 #f3f3f3 #f3f3f3;
        @include animation(button-spin .6s linear);
        @include animation-iteration-count(infinite);
    
        .input-field & {
            margin-top: rem(-9); margin-left: rem(-9);
        }
    }

}
.ico-srch {
    &:after {
        width: rem(10); height: rem(10);
        background-color: gray;

        .input-field & {
            margin-top: rem(-5); margin-left: rem(-5);
        }
    }
}
.ico-rect {
    &:after {
        width: rem(10); height: rem(10);
        background-color: gray;

        .input-field & {
            margin-top: rem(-5); margin-left: rem(-5);
        }
    }
}



