/* input */

// default
.input {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	input {
		display: inline-block;	
		// width: 100%;
		padding: rem(9) rem(10);
		box-sizing : border-box;
		border : solid 1px #ccc;
		@include border-radius(0.3rem);
		background-color: #fff;
		font-size:rem(14); color:#333;
		vertical-align: middle;

		// placeholder
		&::-webkit-input-placeholder {
		    color: #e0e0e0;
		}		
	}

	// focus
	input:focus, 
	&.input--focus input {
		outline: 0;
		border-color : #85B7D9;
		&::-webkit-input-placeholder{
			color: #8e8e8e;
		}
	}

	// disabled
	input:disabled,
	&.input--disabled input {
		pointer-events:none;
		border-color : #e9e9e9; color : #f3f3f3;
		background-color: #f9f9f9;
		// opacity: .45; // not apply oldIE
	}

	// error
	&.input--error input {
		background-color: #FFF6F6;
		border-color: #E0B4B4;
		color: #9F3A38;
		&::-webkit-input-placeholder {
			color: #e7bdbc;
		}
		&:focus,
		&.input--focus {
			border-color: #E0B4B4;
			&::-webkit-input-placeholder {
			    color: #da9796
			}
		}
	}
}

// icon
.input--ico-l,
.input--ico-r {
	.ico {
		position: absolute; top:0; 
		width : rem(40); height:rem(36);
		&:after {
			content: '';
			display: inline-block;
			position: absolute; top:50%; left: 50%;
			vertical-align: middle;	
		}
	}
	.ico-srch:after {
		margin-top:rem(-5); margin-left: rem(-5);
	}
	.ico-loading:after {
		margin-top: rem(-9); margin-left: rem(-9);
	}
}
.input--ico-l {
	input {
		padding-left: rem(40);
	}
	.ico {
		left: 0;
	}
}
.input--ico-r {
	input {
		padding-right: rem(40);
	}
	.ico {
		right: 0;
	}
}



// loading
/* .input--loading-l,
.input--loading-r {
	.ico-loading {
		position: absolute; top:50%; 
		margin-top:-7px;
	}
	
} 
.input--loading-l{
	.ico-loading {
		left: rem(15);
	}
	input {
		padding-left: rem(45);
	}
} 
.input--loading-r {
	.ico-loading {
		right: rem(15);
	}
	input {
		padding-right: rem(45);
	}
}
*/
