// base
@mixin blind {
    visibility:hidden; 
    overflow:hidden; 
    position:absolute; top:0; left:0; 
    width:1px; height:1px; 
    font:0/0 serif;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin ellipsis-m($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
}
// box-sizing 
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
       -moz-box-sizing: $box-model; // Firefox <= 19
            box-sizing: $box-model;
}
// border-radius
@mixin border-radius( $radius ){
	-webkit-border-radius : $radius;
	   -moz-border-radius : $radius;
			border-radius : $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
// border-radius-single
@mixin border-radius-single( $pos1, $pos2, $radius ){
	-webkit-border-#{$pos1}-#{$pos2}-radius : $radius;
	   -moz-border-#{$pos1}-#{$pos2}-radius : $radius;
			border-#{$pos1}-#{$pos2}-radius : $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
    