
// import
@import "_calculators.scss";

/* base */
$font-family : Arial, Helvetica, sans-serif;
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.float-left {
    float : left;
}
.float-right {
    float : right;
}

/* button */

// Mixins > button
@mixin btn-hovered {
    background-color: #f1f1f1;
}
@mixin btn-focused {
    background-color: #f2f2f2;
    border-color: #bbb;
    outline : 0;
}
@mixin btn-pressed {
    background-color: yellow;
    border-color : orange;
}

// Set
button,html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    -moz-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

/* blocks/button.style.begin */
.btn {
    display: inline-block;
    border: 1px solid transparent; 
    background: none;
    text-align : center; vertical-align: middle; white-space: nowrap;
    cursor: pointer;
    -webkit-user-select : none; -moz-user-select : none; -ms-user-select : none; user-select : none;
    -ms-touch-action : manipulation;
        touch-action : manipulation;
}
// button modifier : theme default
.btn--theme-default {
    min-height: 1em;
    padding : 0;
    border-color : #e8e5e5; 
    background-color: #fff;
    vertical-align: baseline;
    font-family: $font-family; font-size: 1rem; color: #000;
    -webkit-tab-highlight-color : rgba(0, 0, 0, 0);
    &:hover {
        @include btn-hovered;
    }
    &:focus {
        @include btn-focused;
    }
    &[ aria-pressed="true" ] {
        @include btn-pressed;
    }
}
// button modifier : theme borderless(plain)
.btn-theme-plain {
    border:none;
}
// button modifier : disabled
.btn[disabled],
.btn--disabled {
    pointer-events : none;
    // opacity: 0.4;
    background-color: #ebebeb;
    color : #aaa;
}
// custom fields(element) : text
.btn__txt { 
    overflow: hidden;
    display: inline-block;
    text-overflow : ellipsis;
    vertical-align: top;
}
// button modifier : size
.btn--size-s {
    font-size : rem(13);
    line-height: rem(24);
    .btn__txt {
        margin : 0 rem(10);
    }
}
.btn--size-m {
    font-size : rem(13);
    line-height: 2em;
    .btn__txt {
        margin : 0 rem(13);
    }
}
.btn--size-l {
    font-size : rem(15);
    line-height: rem(32);
    .btn__txt {
        margin : 0 rem(15);
    }
}
.btn--size-xl {
    font-size : rem(18);
    line-height: rem(38);
    .btn__txt {
        margin : 0 rem(18);
    }
}
// button modifier : type
.btn--type-link {
    text-decoration: none;
}
// button modifier : togglable
input[data-role="button-toggle"] {
    position: absolute; left:-1000em;
    // visibility: hidden;              // tab key doesn't go focus
}
input[data-role="button-toggle"]:hover + .btn {
    @include btn-hovered;
}
input[data-role="button-toggle"]:focus + .btn {
    @include btn-focused;
}
input[data-role="button-toggle"]:checked + .btn {
    @include btn-pressed;
}
// button gorup
.btn-group {
    overflow: hidden;
}
.btn-group-radio {
    overflow: hidden;
    .btn--theme-default {
        float: left;
        margin-right: -1px;
    }
    .btn--theme-default:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .btn--theme-default:focus,
    input[data-role="button-toggle"]:focus + .btn--theme-default {
        position: relative; z-index: 1;
    }
}


// temp 
h3 {
    margin-top:32px; margin-bottom: 0;
    padding :8px;
    background-color: #f1f1f1;
}
h4 {
    margin-top: 8px; margin-bottom: 0;
    padding-top : 16px;
    border-bottom : solid 1px #ccc;
}
.row {
    overflow: hidden;
    clear: both;
    padding : 8px;
    /*border-bottom: solid 1px #ccc;*/
}
.txt {
    font-size: 12px; color:#777;
    line-height: 32px;
}
.ref {
    line-height: 32px;
    font-size: 12px; color : #666;
}
