/* tabs */

.tabs {
    &-lst {
        @include clearfix;
        border-bottom: solid 1px #ddd;
    }
    &-item{
        float: left;
        margin-bottom: -1px;
        &__a {
            display: block;
            margin-right: rem(2);
            padding : rem(10) rem(15);
            border: solid 1px transparent; 
            @include border-radius-single('top', 'left', rem(4));
            @include border-radius-single('top', 'right', rem(4));
            font-size: rem(14); color:#555;
            text-decoration: none;
            &:focus {
                outline:none;
            }
            &:hover,
            &:focus {
                background-color: #eee;
            }
        }
    }
    &[data-current="0"] .tabs-item[data-idx="0"] .tabs-item__a,
    &[data-current="1"] .tabs-item[data-idx="1"] .tabs-item__a,
    &[data-current="2"] .tabs-item[data-idx="2"] .tabs-item__a {
        border-color: #ddd #ddd #fff;
        background-color: #fff;
        color:#337ab7;
        cursor:default;
    }
    &-cnts{
        display: none;
        margin-top: rem(10);
        padding: rem(10);
        border : solid 1px #ccc;
        @include border-radius(rem(4));
        font-size: rem(14); color: #666;
        line-height: 100%; vertical-align: middle;
        a {
            display: inline-block;
            margin-right: 10px;
            font-size:12px; color: #666;
            text-decoration: none;
            &:focus {
                outline: none;
            }
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}
.tabs--fill {
    .tabs-lst {
        border-bottom: none;
    }
    .tabs-item{
        margin-bottom: 0;
        &__a {
            @include border-radius(rem(4));
        }
    }
    &[data-current="0"] .tabs-item[data-idx="0"] .tabs-item__a,
    &[data-current="1"] .tabs-item[data-idx="1"] .tabs-item__a,
    &[data-current="2"] .tabs-item[data-idx="2"] .tabs-item__a {
        border-color: transparent;
        background-color: #337ab7;
        color:#fff;
    }
}
.tabs--horizon {
    .tabs-lst {
        border-bottom: none;
    }
    .tabs-item {
        float: none;
    }
    &[data-current="0"] .tabs-item[data-idx="0"] .tabs-item__a,
    &[data-current="1"] .tabs-item[data-idx="1"] .tabs-item__a,
    &[data-current="2"] .tabs-item[data-idx="2"] .tabs-item__a {
        border-color: transparent;
    }
}
.tabs--nonlogical {
    .tabs-panel {
    }
    .tabs-cnts {
    }
    &[data-current="0"] .tabs-cnts[data-idx="0"],
    &[data-current="1"] .tabs-cnts[data-idx="1"],
    &[data-current="2"] .tabs-cnts[data-idx="2"] {
        display: block;
    }
}

.tabs--logical {
    .tabs-lst {
        position: relative;
    }
    .tabs-cnts{
        position: absolute; left: 0; right: 0;
    }
    &[data-current="0"] .tabs-item[data-idx="0"] .tabs-cnts,
    &[data-current="1"] .tabs-item[data-idx="1"] .tabs-cnts,
    &[data-current="2"] .tabs-item[data-idx="2"] .tabs-cnts {
        display: block;
    }
}
