/* tabs */

.tabs {
    overflow: hidden;
    &-lst {
        @include clearfix;
        border-bottom: solid 1px #ddd;
    }
    &-item{
        float: left;
        margin-bottom: -1px;
        &__a {
            display: block;
            margin-right: rem(2);
            padding : rem(10) rem(15);
            border: solid 1px transparent; 
            @include border-radius-single('top', 'left', rem(4));
            @include border-radius-single('top', 'right', rem(4));
            background-clip: padding-box;
            font-size: rem(14); color:#555;
            text-align:center; text-decoration: none;
            &:focus {
                outline:none;
            }
            &:hover,
            &:focus {
                background-color: #eee;
            }
        }
    }
    &[data-current="0"] .tabs-item[data-idx="0"] .tabs-item__a,
    &[data-current="1"] .tabs-item[data-idx="1"] .tabs-item__a,
    &[data-current="2"] .tabs-item[data-idx="2"] .tabs-item__a,
    &[data-current="3"] .tabs-item[data-idx="3"] .tabs-item__a,
    &[data-current="4"] .tabs-item[data-idx="4"] .tabs-item__a {
        border-color: #ddd #ddd #fff;
        background-color: #fff;
        color:#337ab7;
        cursor:default;
    }
    &-panels {
        padding-top: rem(10);
        @include clearfix;
    }
    &-panel {
        display: none;
        padding: rem(10);
        border : solid 1px #ccc;
        @include border-radius(rem(4));
        font-size: rem(14); color: #666;
        line-height: 100%; vertical-align: middle;
        @include box-sizing(border-box);
        &:focus {
            outline:none;
        }
        a {
            display: inline-block;
            margin-right: 10px;
            font-size:12px; color: #666;
            text-decoration: none;
            &:focus {
                outline: none;
            }
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
    &[data-current="0"] .tabs-panel[data-idx="0"],
    &[data-current="1"] .tabs-panel[data-idx="1"],
    &[data-current="2"] .tabs-panel[data-idx="2"],
    &[data-current="3"] .tabs-panel[data-idx="3"],
    &[data-current="4"] .tabs-panel[data-idx="4"] {
        display: block;
    }
    &[data-control="pause"] &__btn-pause {
        display: none;
    }
    &[data-control="play"] &__btn-play {
        display: none;
    }
}
.tabs--fill {
    .tabs-lst {
        border-bottom: none;
    }
    .tabs-item{
        margin-bottom: 0;
        &__a {
            @include border-radius(rem(4));
        }
    }
    &[data-current="0"] .tabs-item[data-idx="0"] .tabs-item__a,
    &[data-current="1"] .tabs-item[data-idx="1"] .tabs-item__a,
    &[data-current="2"] .tabs-item[data-idx="2"] .tabs-item__a,
    &[data-current="3"] .tabs-item[data-idx="3"] .tabs-item__a,
    &[data-current="4"] .tabs-item[data-idx="4"] .tabs-item__a {
        border-color: transparent;
        background-color: #337ab7;
        color:#fff;
    }
}
.tabs--horizon {
    .tabs-lst {
        border-bottom: none;
    }
    .tabs-item {
        float: none;
    }
    &[data-current="0"] .tabs-item[data-idx="0"] .tabs-item__a,
    &[data-current="1"] .tabs-item[data-idx="1"] .tabs-item__a,
    &[data-current="2"] .tabs-item[data-idx="2"] .tabs-item__a,
    &[data-current="3"] .tabs-item[data-idx="3"] .tabs-item__a,
    &[data-current="4"] .tabs-item[data-idx="4"] .tabs-item__a {
        border-color: transparent;
    }
}

.tabs--logical {
    position: relative;
    .tabs-lst {
    }
    .tabs-item {
        margin-top: 0;
        font-weight: normal;
    }
    .tabs-panel {
        position: absolute; top:45px; right: 0;  left: 0;
    }
}

.tabs--nonlogical {
    .tabs-panels {
    }
    .tabs-panel {
    }
}

.slider {
    &-panels{
        overflow: hidden;
    }
    &-panel {
        position: relative;
    }
    &-item {
        float:left;
        box-sizing: border-box;
    }
    &[data-control="pause"] &__btn-pause {
        display: none;
    }
    &[data-control="play"] &__btn-play {
        display: none;
    }
}


