/* wireFrame */

// variable 
$wire-space : 10;
$lnb--idx-last : 4;
$today--idx-last : 2;
$themeCast--idx-last : 5;

// mixins
@mixin wire--margin-top {
    margin-top: rem($wire-space);
}
@mixin wire--margin-right {
    margin-right: rem($wire-space);
}
@mixin wire--padding {
    padding: rem($wire-space);
}
@mixin wire--fill {
    background-color: #f1f1f1;
}
@mixin wire__a($size:12, $color:#666) {
    text-decoration: none;
    font-size: rem($size); color: $color;
    &:hover {
        text-decoration: underline;
    }
}
/* wireFrame : block */
.wire--block {
    box-sizing : border-box;
    border : solid 1px #ddd;  
    @include border-radius( rem(3) ); 
    @include wire--margin-top;
}

/* wireFrame : wrap */
.wrap {
    position: relative;
    min-width: rem(320); max-width: rem(940);
    margin: 0 auto;
    padding : rem(10) rem(10) rem(20);
    box-sizing : border-box;
    background-color: #fff;
}
.header,
.container,
.footer {
    @include clearfix;
}
/* wireFrame : header */
.header {
    height: rem(40);
    @media #{$media-m}{
        height: rem(80);
    }
}
.header-logo {
    text-align: center;
    .ico__logo {
        display: inline-block;
        margin: 0; padding : rem(10) 0;
        font-size : rem(25); color: #111;
    }
    @media #{$media-m}{
        float: left;
        .ico__logo {
            display: block;
        }
    }
}

/* wireFrame : header > gnb */
.gnb{
    display: none;
    position: absolute; right: 0; 
    @media #{$media-m}{
        display: block;
    }
}
.gnb-lst {
    overflow: hidden;
}
.gnb-item {
    float: left;
    margin : 0 rem(5);
}
.gnb__a {
    display: block;
    padding:rem(10);
    @include wire__a(14);
}
/* wireFrame : header > lnb */
.lnb {
    display: none;
    position: absolute; top: rem(50); left:rem($wire-space); right:rem($wire-space);
    @media #{$media-m}{
        display: block;
    }
}
.lnb-lst {
    overflow: hidden;
    margin : 0; padding : 0;
}
.lnb-item {
    float: left;
    width : 20%;
}
.lnb__a {
    display: block;
    padding : rem(7) rem(5) rem(8);
    box-sizing : border-box;
    text-align:center;
    color: #666; text-decoration: none;
    @for $i from 0 through $lnb--idx-last  {
        .lnb[ data-current = '#{$i}' ] .lnb-item[ data-idx = '#{$i}' ] & {
            border-left : solid 1px #ddd; border-right : solid 1px #ddd;
            background-color : #fffadc;
        }
    }
    .lnb[data-current="0"] .lnb-item[data-idx="0"] & {
        border-left-color : #fffadc;
    }
    .lnb[data-current="#{$lnb--idx-last}"] .lnb-item[data-idx="#{$lnb--idx-last}"] & {
        border-right-color : #fffadc;
    }
}
.lnb-panel {
    display: none;
    overflow: hidden;
    border-top: solid 1px #ddd;
    background-color: #fffadc;
    @for $i from 0 through $lnb--idx-last {
        .lnb[ data-current = '#{$i}' ] & {
            display: block;
        }
    }
}
.lnb-panel-lst {
    float : left;
    width: 20%;
    padding: rem($wire-space) 0;
    box-sizing : border-box;
}
.lnb-panel__a {
    display: block;
    padding-left : rem(20);
    @include wire--a(14);
    line-height: 1.5;
}
.lnb__btn-clse {
    float : right;
    margin-right : rem(10); margin-bottom : rem(10);
    cursor : pointer;
}

/* wireFrame : side > side */
.side__btn {
    position: absolute; top:rem(10); left:rem(10);
    width : rem(60); height : rem(30);
    background-color: #fff;
    text-align: center; font-size: 11px;
    @media #{$media-m}{
       display: none;
    }
}
.side {
    position : absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 10000;
    @include transitionDuration();
    @include tarnslate3d(-100%, 0, 0);
    &[data-visible='true'] {
        @include tarnslate3d(0, 0, 0);
    }
    @media #{$media-m}{
        &{
            display: none;
        }
    }
}
.side-dimm {
    position: absolute; left:0; right:0; top:0; bottom:0; z-index :9999;
    background-color: #000;
    opacity: 0.7;
}
.side-cnts {
    position: absolute; top:0; left:0; right: 30%; bottom :0; z-index:9999;
    background-color: #fff;
}


/* wireFrame : container */
.container {
    clear: both;
}

/* wireFrame : thumb */
.thumb-lst {
}
.thumb-item {
    box-sizing : border-box;
    padding : rem($wire-space);
}
.thumb__a {
    display: block;
    @include wire__a;
}
.thumb__img {
    margin-bottom : rem(8);
    @include wire--fill;
}
.thumb__txt {
    line-height: 1.2;
    @include ellipsis-m(2);
}


/* wireFrame : main > wire-space */
.page-main {
    @media only screen and (min-width: 601px) {
        .column-1 .wire--block{
            @include wire--margin-right;
        }
    }
    .newsFlash,
    .news,
    .auth,
    .today,
    .themeCast,
    .shoppingCast,
    .footer {
        @include wire--padding;
    }
    .promotion,
    .ad,
    .auth,
    .columnBa {
     @include wire--fill;
    }
}

/* wireFrame : main > contetns */
.page-main {
    .contents-1,
    .contents-2,
    .contents-3 {
        @include clearfix;
    }
    .promotion {
        height : rem(150);
        p {
            margin: 0;
            line-height: rem(150);
            text-align: center; color: #666;
        }
    }
    .h3 {
        margin : 0 0 rem(5);
        font-size:rem(14); color: #333; 
    }
    // newsFlash
    .newsFlash {
        padding-top:rem(12);
        font-size : rem(12); color:#666;
    }
    .newsFlash__a-title,
    .newsFlash__a {
        @include wire__a;
    }
    .newsFlash__a {
        margin-left : rem(5);
    }
    // news
    .news-lst {
        margin: 0;
        padding : rem(3) 0;
    }
    .news-item {
        overflow: hidden;
        position: relative;
        line-height: rem(21);
        &:before {
            content : '∙';
            position: absolute; top:-1px;
        }
    }
    .news__a {
        display: block;
        margin-left : rem(12);
        @include wire__a;
        @include ellipsis;
    }
    // auth-login
    .auth {
        display: none;
        @media #{$media-m} {
            display: block;
        }
        legend {
            @include blind;
        }
    }
    .auth-save {
        margin-bottom: rem(5);
    }
    .auth-save__label {
        font-size: 11px; color: #666;
    }
    .auth-login {
    }
    .auth-inputs {
    }
    .auth__input-id,
    .auth__input-pass {
        width: 100%; height:rem(26);
        box-sizing : border-box;
        padding-left:rem(5);
    }
    .auth__input-id {

    }
    .auth__input-pass {
        margin-top:-1px;
    }
    .auth__btn-login {
        height: rem(51);
        background-color: #fff;
        border : solid 1px #dfdfdf; border-left: none;
        cursor : pointer;
    }
    .auth-menu {
        margin-top: rem(10);
        font-size: 11px; color:#666;
    } 
    .auth-menu__a {
        @include wire__a(11);
        &.a-join {
            margin-right: rem(16);
        }
    }
    // today
    .today {
        position: relative;
    }
    .today-top {
        position: absolute; right: rem($wire-space) ; top: rem($wire-space);
        .today__date {
            display: inline-block;
            margin-right: rem(5);
            font-size: 11px; color: #666;
        }
        .today-next__a{
            display: inline-block;
            @include wire__a(11)
        }
    }
    .today-panel {
        height : rem(77);
    }
    .today-panel-item {
        display: none;
        div {
            text-align: center;
            font-size: rem(12); color : #666;
            line-height: rem(77);   
        }
    }
    @for $i from 0 through $today--idx-last {
        .today[data-current='#{$i}'] .today-panel-item[data-idx='#{$i}']{
            display: block;
        }
    }
    .today-lst {
        padding-top: rem(5);
        font-size: rem(12); line-height: 1.5;
    }
    .today-item {
        width : 100%;
        @include ellipsis;
    }
    .today__a-tit {
        display: inline-block;
        margin-right : rem(5);
        font-weight : bold; 
        @include wire__a;
    }
    .today__a {
        @include wire__a;
        &:not(:last-child):after {
            content:'';
            display: inline-block;
            width : 1px; height:rem(10); 
            margin-left:rem(8); margin-right :rem(5);
            background-color: #ccc;
        }
    }
    .today-ctrl {
        margin-top:rem(5);
        // position: absolute; right:rem($wire-space);
        text-align: right;
    }
    .today__page {
        display: inline-block;
        margin-right : rem(5);
        font-size : rem(12); color : #666;
    }
    .today__page-current {
        display: inline-block;
    }
    .today__page-total {
        display: inline-block;
    }
    .today__btn-prev {
        display: inline-block;
    }
    .today__btn-next {
        display: inline-block;
    }
    // ad
    .ad {
        display : table;
        width : 100%; height : rem(98);
    }
    .ad__img {
        display: table-cell;
        text-align: center; 
        vertical-align: middle;
        color : #666;
    }
    // contents-2
    .contents-2 {
        @media #{$media-m} {
            .themeCast, 
            .shoppingCast {
                min-height: rem(404);
            }
        }
    }
    // themeCast
    .themeCast {

    }
    .themeCast-tab {
        overflow : hidden;
    }
    .themeCast-item {
        float: left; 
        width : 16.666666%;
        box-sizing : border-box;
        border-style: solid; border-width : 1px 0; border-color: transparent transparent #ccc;
        @include wire--fill;
    }
    @for $i from 0 through $themeCast--idx-last {
        .themeCast[data-current="#{$i}"] .themeCast-item[data-idx="#{$i}"]{
            border-left-width : 1px; border-right-width : 1px; border-color : #ccc #ccc transparent;
            background-color: #fff;
        }
    }
    .themeCast-item__a {
        display: block;
        height : rem(36); line-height: rem(36);
        text-align: center;
        @include wire__a;
    }
    .themeCast-panel {
        margin-top:rem(15);
        .h3 {
            margin-left : rem($wire-space);
        }
        .thumb__img {
            height : rem(100);
        }
    }
    .themeCast-panel-item {
        display: none;
    }
    @for $i from 0 through $themeCast--idx-last {
        .themeCast[ data-current = "#{$i}"] .themeCast-panel-item[ data-idx = "#{$i}" ] {
            display: block;
        }
    }
    .shoppingCast {
        .thumb__img {
            height : rem(120);
        }
    }

    // contents-3
    .columnBa-lst {
        overflow: hidden;
    }
    .columnBa-item {
        float: left;
        width : 33.33333333%;
        box-sizing : border-box;
        &:not(:first-child) {
            border-left : solid 1px #ddd;
        }
    }
    .columnBa__a {
        display: block;
        height : rem(100);
        line-height: rem(100);
        vertical-align: middle; text-align : center;
        @include wire__a;
    }
    
    // footer
    .footer {
        text-align: center;
    }
    .footer-lst {
        overflow: hidden;
        display: inline-block;
        margin-top: rem(5);
    }
    .footer-item {
        float : left;
        width : 33.333333%;
        @media #{$media-m} {
            width: auto;
        }
    }
    .footer__a {
        display: block;
        padding : rem(5) rem(10);
        @include wire__a;
    }
}

