@charset "utf-8";

$is-rem : true;

// import
@import "_module.scss";

/* button */
$btn-radius : 0.3em;

// Mixins 
// border-radius
@mixin border-radius( $radius ){
	-webkit-border-radius : $radius;
	   -moz-border-radius : $radius;
			border-radius : $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
// border-radius-single
@mixin border-radius-single( $pos1, $pos2, $radius ){
	-webkit-border-#{$pos1}-#{$pos2}-radius : $radius;
	   -moz-border-#{$pos1}-#{$pos2}-radius : $radius;
			border-#{$pos1}-#{$pos2}-radius : $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

.btn {
    @include border-radius( $btn-radius );
}

// button gorup
.btn-group-radio {
	.btn--theme-default:not(:nth-of-type(1)):not(:last-child) {
        @include border-radius(0);
    }    
    .btn--theme-default:nth-of-type(1) {
    	@include border-radius-single(top, right, 0);
    	@include border-radius-single(bottom, right, 0);
    }
    .btn--theme-default:last-child {
    	@include border-radius-single(top, left, 0);
    	@include border-radius-single(bottom, left, 0);
    }
}


//